server/flows_raspberrypi.json
[{"id":"1114e776.552d39","type":"tab","label":"Status"},{"id":"fae16ff9.cf9dd","type":"tab","label":"Control"},{"id":"3d463414.a01edc","type":"tab","label":"Caméras"},{"id":"cde55aee.521598","type":"tab","label":"Meteo"},{"id":"74ecca37.c56c84","type":"tab","label":"TV control"},{"id":"e0aaeaf6.13e5d8","type":"tab","label":"Agenda"},{"id":"8ba8ba4f.08c5b8","type":"tab","label":"email"},{"id":"b865006d.ca24f","type":"tab","label":"Flow 1"},{"id":"4c27d965.734f38","type":"mqtt-broker","z":"","broker":"192.168.1.27","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83470527.e55788","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"163a2590.89dc7a","type":"ui_group","z":"","name":"Main","tab":"83470527.e55788","order":1,"disp":false,"width":"12"},{"id":"d2a6ccc3.850f4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4fb05fa.5aaf38","type":"ui_group","z":"","name":"Charts","tab":"83470527.e55788","order":2,"disp":false,"width":"5"},{"id":"a60f00a6.1e6f9","type":"ui_group","z":"","name":"Portail","tab":"83470527.e55788","order":5,"disp":true,"width":"7"},{"id":"912133b0.401bd","type":"profile","z":"","name":"salon","time1":"00:00","temp1":"0","time2":"06:00","temp2":"0","time3":"06:30","temp3":"0","time4":"07:30","temp4":"21","time5":"22:30","temp5":"25","time6":"23:00","temp6":"0","time7":"24:00","temp7":"0","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"8c758809.49fa28","type":"profile","z":"","name":"Dreamroom","time1":"00:00","temp1":"12","time2":"16:00","temp2":"12","time3":"16:10","temp3":"19","time4":"20:00","temp4":"19","time5":"20:10","temp5":"12","time6":"24:00","temp6":"12","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"a6e43b47.453a08","type":"NetatmoConfigNode","z":"","client_id":"5a06bb33a467a31ebf8b54a4","client_secret":"B1Q3o40qrKEQM9uv7KxHJUClb4","username":"scentelles@gmail.com","password":"Totor0608","device_id":"04:00:00:06:3c:b6"},{"id":"53326e09.7bef5","type":"ui_group","z":"","name":"Agenda","tab":"83470527.e55788","order":3,"disp":true,"width":"6"},{"id":"ee8bfe73.235b7","type":"ui_group","z":"","name":"ECS","tab":"83470527.e55788","order":4,"disp":false,"width":"5"},{"id":"ecc7cc9a.e7648","type":"ui_group","z":"","name":"Chauffage","tab":"83470527.e55788","order":6,"disp":true,"width":"6"},{"id":"d21c31b5.42c95","type":"ui_group","z":"","name":"Terrasse","tab":"7ee3e4eb.d6cf1c","order":1,"disp":true,"width":"5"},{"id":"476bdf4c.157df","type":"ui_group","z":"","name":"Piscine","tab":"83470527.e55788","order":7,"disp":true,"width":"4"},{"id":"7ee3e4eb.d6cf1c","type":"ui_tab","z":"","name":"Advanced","icon":"dashboard","order":2},{"id":"ee8c7e35.4633e","type":"ui_group","name":"Group 1","tab":"7ee3e4eb.d6cf1c","order":2,"disp":true,"width":6},{"id":"e8954b58.37d528","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"43.4799","longitude":"1.3841"},{"id":"3a5d5da2.3cf692","type":"yeelight-config","z":""},{"id":"2f4ae2be.64216e","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"ECS/temp1","qos":"0","broker":"4c27d965.734f38","x":76,"y":112.45834732055664,"wires":[["9e6129b3.f067e8","2f0bdd1.e3c5c22"]]},{"id":"e5265a8c.eb05c8","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"ee8bfe73.235b7","order":7,"width":"2","height":"2","gtype":"gage","title":"ECS","label":"°C","format":"{{value}}","min":0,"max":"70","colors":["#e60005","#ff8000","#0cea00"],"seg1":"20","seg2":"25","x":425.518611907959,"y":111.99999809265137,"wires":[]},{"id":"9e6129b3.f067e8","type":"ui_chart","z":"1114e776.552d39","name":"","group":"ee8bfe73.235b7","order":1,"width":"5","height":"4","label":"ECS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#ff1a1f","#f8bc30","#04a600","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":425.23559951782227,"y":169.72728729248047,"wires":[[],[]]},{"id":"65e3fd3d.3830f4","type":"mqtt in","z":"1114e776.552d39","name":"Température Dream Room","topic":"ROOM1_SENSOR/temp","qos":"0","broker":"4c27d965.734f38","x":656.4561462402344,"y":208.30212593078613,"wires":[["71679956.813198","86f35030.f21ec"]]},{"id":"71679956.813198","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":8,"width":"2","height":"2","gtype":"gage","title":"Dream Room","label":"°C","format":"{{value}}","min":0,"max":"30","colors":["#1ca6f9","#2bda0c","#e78f1b"],"seg1":"20","seg2":"25","x":941.4561004638672,"y":145.30208206176758,"wires":[]},{"id":"39609c5f.2413e4","type":"mqtt in","z":"1114e776.552d39","name":"EDF power","topic":"EDF/power","qos":"0","broker":"4c27d965.734f38","x":67.18336486816406,"y":348.21117973327637,"wires":[["240b39ac.ade646","a5c4376f.ccd258","931ff68c.2f22c8"]]},{"id":"240b39ac.ade646","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":9,"width":"2","height":"2","gtype":"gage","title":"EDF power","label":"units","format":"{{value}}","min":0,"max":"7000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":312.45610427856445,"y":296.3020706176758,"wires":[]},{"id":"7739a28a.45cf9c","type":"ui_chart","z":"1114e776.552d39","name":"","group":"d4fb05fa.5aaf38","order":1,"width":"5","height":"4","label":"EDF","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"2000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#e60000","#6666ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":531.0173683166504,"y":348.0104351043701,"wires":[[],[]]},{"id":"86f35030.f21ec","type":"ui_chart","z":"1114e776.552d39","name":"","group":"d4fb05fa.5aaf38","order":3,"width":"5","height":"5","label":"Dream Room","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#cf036f","#510fff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":943.0173645019531,"y":197.01041221618652,"wires":[[],[]]},{"id":"9895b590.c796f8","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"ECS/force","qos":"2","broker":"4c27d965.734f38","x":116.01735305786133,"y":278.01041889190674,"wires":[["51e49518.f5a3fc"]]},{"id":"51e49518.f5a3fc","type":"ui_dropdown","z":"fae16ff9.cf9dd","name":"","label":"","place":"Select option","group":"ee8bfe73.235b7","order":12,"width":"3","height":"1","passthru":false,"options":[{"label":"AUTO","value":"0","type":"str"},{"label":"ON","value":"2","type":"str"},{"label":"OFF","value":"1","type":"str"}],"payload":"","topic":"","x":402.08686447143555,"y":275.9409923553467,"wires":[["eddf8e5d.17a02"]]},{"id":"eddf8e5d.17a02","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"ECS/force","qos":"0","retain":"true","broker":"4c27d965.734f38","x":570.0346946716309,"y":276.1874647140503,"wires":[]},{"id":"e3309e59.e7bf8","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"dreamroom/chauffage/command","qos":"0","broker":"4c27d965.734f38","x":186.01735305786133,"y":347.1874113082886,"wires":[["fc8bb600.fc97f8"]]},{"id":"fc8bb600.fc97f8","type":"ui_switch","z":"fae16ff9.cf9dd","name":"DR Chauffage","label":"DR Chauffage","group":"ecc7cc9a.e7648","order":11,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"2","offvalueType":"str","officon":"","offcolor":"","x":427.0938262939453,"y":347.89924573898315,"wires":[["a9ab84c9.7c8a08"]]},{"id":"1e8a57f7.25b218","type":"ui_switch","z":"fae16ff9.cf9dd","name":"Salon Chauffage","label":"Salon Chauffage","group":"ecc7cc9a.e7648","order":13,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":427.03466796875,"y":428.18742847442627,"wires":[["d7320e91.1652c"]]},{"id":"a9ab84c9.7c8a08","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"dreamroom/chauffage/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":667.0938110351562,"y":347.9721899032593,"wires":[]},{"id":"d7320e91.1652c","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"RADIATOR_CIRCUIT1/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":677.0346717834473,"y":428.2603635787964,"wires":[]},{"id":"5511f50d.5b760c","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"RADIATOR_CIRCUIT1/command","qos":"0","broker":"4c27d965.734f38","x":171.0173454284668,"y":428.010422706604,"wires":[["1e8a57f7.25b218"]]},{"id":"f4a82aed.ac3848","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"POOL/command","qos":"0","broker":"4c27d965.734f38","x":132.0173454284668,"y":500.01041889190674,"wires":[["46b7f09c.4adc5"]]},{"id":"46b7f09c.4adc5","type":"ui_switch","z":"fae16ff9.cf9dd","name":"POOL pump","label":"Pompe","tooltip":"","group":"476bdf4c.157df","order":11,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"POOL/command","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":413.0938186645508,"y":500.7222533226013,"wires":[["a91ce2ba.ec792"]]},{"id":"a91ce2ba.ec792","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"POOL/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":623.0938034057617,"y":500.79519748687744,"wires":[]},{"id":"e497c60f.8883c8","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"SYSTEM/cpu","qos":"0","broker":"4c27d965.734f38","x":630.0173492431641,"y":41.01041507720947,"wires":[["24de8577.8134ea"]]},{"id":"24de8577.8134ea","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":7,"width":"2","height":"2","gtype":"gage","title":"CPU","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","x":811.0208282470703,"y":41.92013454437256,"wires":[]},{"id":"e51f9938.d30508","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":7,"width":"2","height":"2","gtype":"gage","title":"MEMORY","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ff8000","#ca3838"],"seg1":"50","seg2":"75","x":820.0173301696777,"y":91.01041603088379,"wires":[]},{"id":"5024fcdc.8fad94","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"SYSTEM/memory","qos":"0","broker":"4c27d965.734f38","x":615.0138549804688,"y":91.10069179534912,"wires":[["e51f9938.d30508"]]},{"id":"accbf661.29fd18","type":"function","z":"fae16ff9.cf9dd","name":"","func":"if (msg.payload === true)\n    msg.payload = \"2\";\nelse\n    msg.payload = \"1\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":571.5628509521484,"y":1218.2931423187256,"wires":[["8e65c74e.d74e88"]]},{"id":"8e65c74e.d74e88","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"RADIATOR_CIRCUIT1/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":826.8759765625,"y":1217.0205249786377,"wires":[]},{"id":"4677a0fb.85df2","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"ROOM1_SENSOR/hum","qos":"0","broker":"4c27d965.734f38","x":664.8355865478516,"y":279.9195098876953,"wires":[["403e7b0f.f363f4","86f35030.f21ec"]]},{"id":"403e7b0f.f363f4","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":8,"width":"2","height":"2","gtype":"gage","title":"Dream Room hum","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#33ff15","#ff8000","#ff0209"],"seg1":"65","seg2":"75","x":935.4719314575195,"y":271.0104093551636,"wires":[]},{"id":"b232a7e8.2f9978","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"ECS/temp2","qos":"0","broker":"4c27d965.734f38","x":75.0173568725586,"y":164.010404586792,"wires":[["9e6129b3.f067e8","e5265a8c.eb05c8"]]},{"id":"ffd54590.e0d948","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"ECS/target","qos":"0","broker":"4c27d965.734f38","x":66,"y":62.01041793823242,"wires":[["2f0bdd1.e3c5c22"]]},{"id":"2f0bdd1.e3c5c22","type":"function","z":"1114e776.552d39","name":"update target","func":"\nvar target = context.get('target');\n\nif (msg.topic === \"ECS/temp1\")\n{\n   msg.topic   = \"ECS/target\";\n   msg.payload = target;\n}\nelse\n{\n    target = msg.payload;\n    context.set('target',target);\n}\nreturn msg;","outputs":"1","noerr":0,"x":260.7058525085449,"y":61.72727394104004,"wires":[["9e6129b3.f067e8"]]},{"id":"9e562cf1.fa7d2","type":"ramp-thermostat","z":"fae16ff9.cf9dd","name":"","profile":"912133b0.401bd","hysteresisplus":0,"hysteresisminus":0,"x":354.30577850341797,"y":1145.2021980285645,"wires":[["b004a5bf.e4b7d8","accbf661.29fd18"],[],[]]},{"id":"5c6d1be0.11c744","type":"inject","z":"fae16ff9.cf9dd","name":"","topic":"","payload":"20","payloadType":"num","repeat":"60","crontab":"","once":false,"x":143.65214920043945,"y":1161.7267303466797,"wires":[["9e562cf1.fa7d2"]]},{"id":"b004a5bf.e4b7d8","type":"debug","z":"fae16ff9.cf9dd","name":"thermostat bool","active":false,"console":"false","complete":"payload","x":588.1976318359375,"y":1113.5449562072754,"wires":[]},{"id":"dcb6fb27.be6c88","type":"function","z":"fae16ff9.cf9dd","name":"","func":"var force_on = context.get('force_on');\n\nif (msg.topic === \"force\")\n{\n    if (msg.payload === true){\n        force_on = true;\n        context.set('force_on', true);\n    }        \n    else{\n        force_on = false;\n        context.set('force_on', false);\n    }\n}\n\n\nif ((msg.payload === true) || (force_on === true))\n    msg.payload = \"1\";\nelse\n    msg.payload = \"2\";\n\nreturn msg;","outputs":1,"noerr":0,"x":510.18343925476074,"y":1467.8882446289062,"wires":[["ec3ad299.dd054"]]},{"id":"6235f63.9a1b208","type":"ramp-thermostat","z":"fae16ff9.cf9dd","name":"","profile":"8c758809.49fa28","hysteresisplus":"0.2","hysteresisminus":"0.2","x":330.19911193847656,"y":1380.2518463134766,"wires":[["5f3410ff.d241f","dcb6fb27.be6c88"],[],[]]},{"id":"5f3410ff.d241f","type":"debug","z":"fae16ff9.cf9dd","name":"DR therm bool","active":true,"console":"false","complete":"payload","x":564.0909652709961,"y":1348.5946044921875,"wires":[]},{"id":"ec3ad299.dd054","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"dreamroom/chauffage/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":730.6217498779297,"y":1424.454113483429,"wires":[]},{"id":"89803e3c.6dda6","type":"mqtt in","z":"fae16ff9.cf9dd","name":"Température Dream Room","topic":"ROOM1_SENSOR/temp","qos":"0","broker":"4c27d965.734f38","x":124.25820922851562,"y":1517.1812143325806,"wires":[["ef2bcde.8b1ba3"]]},{"id":"ef2bcde.8b1ba3","type":"function","z":"fae16ff9.cf9dd","name":"","func":"msg.topic = \"setCurrent\";\n\nreturn msg;","outputs":1,"noerr":0,"x":163.6521453857422,"y":1378.3933277130127,"wires":[["6235f63.9a1b208"]]},{"id":"2391f20a.8559ce","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"Door/open","qos":"0","retain":"true","broker":"4c27d965.734f38","x":600.6396560668945,"y":625.6519994735718,"wires":[]},{"id":"b3705dc7.63f5d","type":"ui_button","z":"fae16ff9.cf9dd","name":"","group":"a60f00a6.1e6f9","order":2,"width":"3","height":"1","passthru":false,"label":"Portail","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":382.43893814086914,"y":624.9836711883545,"wires":[["2391f20a.8559ce"]]},{"id":"3ad2187b.d11398","type":"get thermostats data","z":"1114e776.552d39","name":"thermostatnet","creds":"a6e43b47.453a08","x":355.8984909057617,"y":491.4883499145508,"wires":[["e7ac7337.da15b","42d74bc4.5ef574"]]},{"id":"9e00f09e.2acc9","type":"inject","z":"1114e776.552d39","name":"every 10 minute","topic":"","payload":"20","payloadType":"num","repeat":"600","crontab":"","once":false,"x":153.01956176757812,"y":492.0039596557617,"wires":[["3ad2187b.d11398"]]},{"id":"f280a27a.0ff12","type":"ui_chart","z":"1114e776.552d39","name":"","group":"d4fb05fa.5aaf38","order":2,"width":"5","height":"4","label":"Salon","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#251aff","#e3120d","#04a600","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":797.0197334289551,"y":494.0039825439453,"wires":[[],[]]},{"id":"e7ac7337.da15b","type":"function","z":"1114e776.552d39","name":"extract temperatures","func":"var temperature   = { payload: msg.payload.devices[0].modules[0].measured.temperature };\nvar setpoint_temp = { payload: msg.payload.devices[0].modules[0].measured.setpoint_temp };\n\ntemperature.topic = \"temperature\";\nsetpoint_temp.topic = \"setpoint_temp\";\n\nreturn [temperature,setpoint_temp];","outputs":"2","noerr":0,"x":594.0196228027344,"y":493.0040063858032,"wires":[["f280a27a.0ff12"],["f280a27a.0ff12"]]},{"id":"a5c4376f.ccd258","type":"smooth","z":"1114e776.552d39","name":"","action":"mean","count":"80","round":"","x":225.89453506469727,"y":389.2383108139038,"wires":[["66e31ad6.ec4f54"]]},{"id":"66e31ad6.ec4f54","type":"function","z":"1114e776.552d39","name":"add topic","func":"msg.topic=\"smooth\";\nreturn msg;","outputs":1,"noerr":0,"x":375.89453887939453,"y":388.6562805175781,"wires":[["7739a28a.45cf9c"]]},{"id":"5106ab91.089d54","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast1","order":1,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":938.6723670959473,"y":155.00390625,"wires":[[]]},{"id":"217159c5.4fd2d6","type":"openweathermap","z":"cde55aee.521598","name":"meteo 5 pins","wtype":"forecast","lon":"","lat":"","city":"pinsaguel","country":"france","language":"fr","x":162.67227935791016,"y":173.83365297317505,"wires":[["55ecdcf3.04e9f4"]]},{"id":"55ecdcf3.04e9f4","type":"split","z":"cde55aee.521598","name":"","splt":"\\n","x":182.3117904663086,"y":236.6556510925293,"wires":[["fedd3099.6b6a6"]]},{"id":"fedd3099.6b6a6","type":"switch","z":"cde55aee.521598","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","outputs":6,"x":342.6753616333008,"y":236.5652370452881,"wires":[["b52df3e4.32082","4e0eedab.d259d4"],["70fd8a8d.87a654","e179587e.33a9e8"],["9c5df490.9eccf8","f778c5cf.96eb48"],["d758f3ef.7962e","33918767.0642d8"],["37670d2b.aedc52","e9820561.636f08"],["10b7a914.921c07","90b26c0d.441af"]]},{"id":"b52df3e4.32082","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":628.7268676757812,"y":125.01810073852539,"wires":[["4e0eedab.d259d4"]]},{"id":"4e0eedab.d259d4","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":797.6749610900879,"y":154.9764404296875,"wires":[["5106ab91.089d54"]]},{"id":"70fd8a8d.87a654","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":632.8379898071289,"y":221.35151290893555,"wires":[["e179587e.33a9e8"]]},{"id":"e179587e.33a9e8","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":804.7861633300781,"y":264.3098316192627,"wires":[["aadf3a85.a74bd8"]]},{"id":"aadf3a85.a74bd8","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast2","order":2,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":942.7834892272949,"y":251.33731842041016,"wires":[[]]},{"id":"9c5df490.9eccf8","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":632.8379898071289,"y":309.35151290893555,"wires":[["f778c5cf.96eb48"]]},{"id":"f778c5cf.96eb48","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":801.7860832214355,"y":339.30985260009766,"wires":[["d65354f9.52f978"]]},{"id":"d65354f9.52f978","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast3","order":3,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":942.7834892272949,"y":339.33731842041016,"wires":[[]]},{"id":"d758f3ef.7962e","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":634.8379898071289,"y":408.35151290893555,"wires":[["33918767.0642d8"]]},{"id":"33918767.0642d8","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":803.7860832214355,"y":438.30985260009766,"wires":[["fd9fefbd.a0045"]]},{"id":"fd9fefbd.a0045","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast4","order":4,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":944.7834892272949,"y":438.33731842041016,"wires":[[]]},{"id":"37670d2b.aedc52","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":628.8379898071289,"y":492.35151290893555,"wires":[["e9820561.636f08"]]},{"id":"e9820561.636f08","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":797.7860832214355,"y":522.3098526000977,"wires":[["857eca58.0beac8"]]},{"id":"857eca58.0beac8","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast5","order":5,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":938.7834892272949,"y":522.3373184204102,"wires":[[]]},{"id":"10b7a914.921c07","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":627.8379898071289,"y":582.5737419128418,"wires":[["90b26c0d.441af"]]},{"id":"90b26c0d.441af","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":796.7860832214355,"y":612.5320816040039,"wires":[["502f20ad.30b25"]]},{"id":"502f20ad.30b25","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast6","order":6,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":937.7834892272949,"y":612.5595474243164,"wires":[[]]},{"id":"29399d3a.c423e2","type":"inject","z":"cde55aee.521598","name":"Every 5 minutes","topic":"","payload":"20","payloadType":"num","repeat":"300","crontab":"","once":false,"x":153,"y":114.88005447387695,"wires":[["217159c5.4fd2d6"]]},{"id":"75c4fd30.d1de84","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://192.168.1.27:8080/media/316.gif\";\nreturn msg;","outputs":1,"noerr":0,"x":649.3636245727539,"y":72.0617790222168,"wires":[[]]},{"id":"922ede07.b358c","type":"ui_button","z":"74ecca37.c56c84","name":"","group":"ee8c7e35.4633e","order":3,"width":"2","height":"2","passthru":false,"label":"Start timer","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":185.01953125,"y":231.00390625,"wires":[["e5e48884.929068"]]},{"id":"e5e48884.929068","type":"function","z":"74ecca37.c56c84","name":"loop function","func":"\nvar timer = context.get('timer');\nvar loopInProgress = context.get('loopInProgress');\nvar loopStop = context.get('loopStop');\n\n   node.log(\"timer :\");\n  node.log(timer);\n  \nloop = msg;\n    node.log(\"\\n\\nentering function\");\n    \nif (msg.topic === \"start\")\n{\n    if(loopInProgress === true)\n    {\n        context.set('loopStop', true);\n        return [null, null];\n    }\n        \n    context.set('loopInProgress', true);\n    context.set('loopStop', false);\n    loop.topic = \"loop\";\n    loop.payload = timer;   \n    \n    msg = null;\n    node.log(\"start\");\n    return [msg, loop];\n}\nif (msg.topic === \"timer\")\n{\n    node.log(\"timer value\");\n    timer = msg.payload;\n    context.set('timer', timer);\n    loop = null;\n    msg = null;\n    return [msg, loop];\n}\n\nif (msg.topic === \"loop\")\n{\n    node.log(\"looping\");\n    loop.payload = loop.payload - 1;\n    node.log(\"loop counter :\");\n    node.log(loop.payload);\n    \n    if(loopStop === true)\n    {\n        context.set('loopStop', false);\n        context.set('loopInProgress', false);\n        return [null, null];\n    }\n    \n    if(loop.payload === 0 )\n    {\n        node.log(\"equals!\");\n        context.set('loopInProgress', false);\n        msg.topic = \"endloop\";\n        msg.payload = 1;\n        loop = null;\n        return [msg, null];\n    }   \n    else\n    {\n        node.log(\"not equals\");\n        return [null, loop];\n    }\n}\n\nreturn [msg, loop];","outputs":"2","noerr":0,"x":393.9322052001953,"y":232.34691715240479,"wires":[["712ff967.68bab8"],["db1c377.1ec2dc8","c6bbec85.01d8"]]},{"id":"db1c377.1ec2dc8","type":"delay","z":"74ecca37.c56c84","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":394.73969650268555,"y":310.43792819976807,"wires":[["e5e48884.929068"]]},{"id":"712ff967.68bab8","type":"mqtt out","z":"74ecca37.c56c84","name":"","topic":"PRISE_TV/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":647.3832397460938,"y":225.31788444519043,"wires":[]},{"id":"c6bbec85.01d8","type":"ui_gauge","z":"74ecca37.c56c84","name":"","group":"ee8c7e35.4633e","order":4,"width":"3","height":"3","gtype":"compass","title":"Gauge","label":"minutes","format":"{{value}}","min":0,"max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":562.0806179046631,"y":127.17298603057861,"wires":[]},{"id":"a36b07.7599f4f8","type":"mqtt in","z":"74ecca37.c56c84","name":"","topic":"PRISE_TV/command","qos":"0","broker":"4c27d965.734f38","x":170.01953125,"y":46.00390625,"wires":[["4b3da2ca.c8d33c"]]},{"id":"4b3da2ca.c8d33c","type":"ui_switch","z":"74ecca37.c56c84","name":"","label":"TV","group":"ee8c7e35.4633e","order":2,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":411.096004486084,"y":46.71574068069458,"wires":[["29d90ac4.d4fde6"]]},{"id":"29d90ac4.d4fde6","type":"mqtt out","z":"74ecca37.c56c84","name":"","topic":"PRISE_TV/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":651.0959892272949,"y":46.7886848449707,"wires":[]},{"id":"931ff68c.2f22c8","type":"function","z":"1114e776.552d39","name":"add topic","func":"msg.topic=\"raw\";\nreturn msg;","outputs":1,"noerr":0,"x":375.01953887939453,"y":349.0039176940918,"wires":[["7739a28a.45cf9c"]]},{"id":"729d2b5.6deded4","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"Door/open","qos":"0","retain":"true","broker":"4c27d965.734f38","x":599.0959854125977,"y":705.7887182235718,"wires":[]},{"id":"b7eaf611.d112a8","type":"ui_button","z":"fae16ff9.cf9dd","name":"","group":"a60f00a6.1e6f9","order":1,"width":"4","height":"1","passthru":false,"label":"Piéton","color":"","bgcolor":"","icon":"","payload":"12","payloadType":"str","topic":"","x":380.89526748657227,"y":705.1203899383545,"wires":[["729d2b5.6deded4"]]},{"id":"4c0e55b2.cb7adc","type":"ui_chart","z":"fae16ff9.cf9dd","name":"","group":"a60f00a6.1e6f9","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":575.8945617675781,"y":784.8750019073486,"wires":[[],[]]},{"id":"ea890d26.bb79c","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"Door/open","qos":"0","broker":"4c27d965.734f38","x":76.01956939697266,"y":770.0040826797485,"wires":[["1c669ca4.02d973","bafc09a6.15ae18","c3ae95fe.e40618"]]},{"id":"56a12203.66532c","type":"function","z":"fae16ff9.cf9dd","name":"set to 0","func":"msg.payload = 0;\nmsg.topic = \"line\";\nreturn msg;","outputs":1,"noerr":0,"x":413.8985176086426,"y":876.8477802276611,"wires":[["4c0e55b2.cb7adc"]]},{"id":"9a8022f3.c3b8f","type":"function","z":"fae16ff9.cf9dd","name":"set to 1","func":"msg.payload = 1;\nmsg.topic = \"line\";\nreturn msg;","outputs":1,"noerr":0,"x":416.01953125,"y":788.0039539337158,"wires":[["4c0e55b2.cb7adc"]]},{"id":"1c669ca4.02d973","type":"delay","z":"fae16ff9.cf9dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":257.89453125,"y":876.83984375,"wires":[["56a12203.66532c"]]},{"id":"bafc09a6.15ae18","type":"delay","z":"fae16ff9.cf9dd","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":272.01953887939453,"y":784.0039148330688,"wires":[["9a8022f3.c3b8f"]]},{"id":"c3ae95fe.e40618","type":"function","z":"fae16ff9.cf9dd","name":"set to 0","func":"msg.payload = 0;\nmsg.topic = \"line\";\nreturn msg;","outputs":1,"noerr":0,"x":418.01952362060547,"y":751.0038995742798,"wires":[["4c0e55b2.cb7adc"]]},{"id":"3f3b288f.7b9208","type":"ui_numeric","z":"74ecca37.c56c84","name":"","label":"","group":"ee8c7e35.4633e","order":1,"width":"2","height":"1","passthru":true,"topic":"timer","format":"{{value}}","min":0,"max":"60","step":"5","x":172.89453125,"y":179.92578125,"wires":[["c6bbec85.01d8","e5e48884.929068"]]},{"id":"b1c3ad42.eedfa","type":"ui_button","z":"3d463414.a01edc","name":"","group":"a60f00a6.1e6f9","order":7,"width":"1","height":"1","passthru":false,"label":"ViewW","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":90.88671875,"y":195.42970752716064,"wires":[["256ba9c2.c8c626"]]},{"id":"dc739ece.89559","type":"ui_template","z":"e0aaeaf6.13e5d8","group":"53326e09.7bef5","name":"Agenda","order":1,"width":"6","height":"5","format":"<iframe src=\"https://calendar.google.com/calendar/embed?title=Agenda&amp;\nshowTitle=0&amp;\nshowNav=0&amp;\nshowDate=0&amp;\nshowPrint=0&amp;\nshowTabs=0&amp;\nshowCalendars=0&amp;\nshowTz=0&amp;\nmode=AGENDA&amp;\nheight=400&amp;\nwkst=2&amp;\nhl=fr&amp;\nbgcolor=%23555555&amp;\nsrc=scentelles%40gmail.com&amp;\ncolor=%23ffffff&amp;\nctz=Europe%2FParis\" style=\"border:solid 3px #777\" width=\"300\" height=\"400\" frameborder=\"0\" scrolling=\"no\"></iframe>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":292.01953125,"y":144.00390625,"wires":[[]]},{"id":"42d74bc4.5ef574","type":"debug","z":"1114e776.552d39","name":"NETATMO","active":true,"console":"true","complete":"payload","x":550.01953125,"y":590.00390625,"wires":[]},{"id":"cec42995.e8cc78","type":"delay","z":"3d463414.a01edc","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":274.0195503234863,"y":320.0039749145508,"wires":[["256ba9c2.c8c626"]]},{"id":"256ba9c2.c8c626","type":"function","z":"3d463414.a01edc","name":"","func":"msg.payload = msg.payload + 1\n\nif (msg.payload == 10)\n    msg = null;\nreturn msg;","outputs":"1","noerr":0,"x":259.01953887939453,"y":199.0039348602295,"wires":[["1fb156be.e09cc9","4f20f3ee.12471c","cec42995.e8cc78"]]},{"id":"4f20f3ee.12471c","type":"ui_template","z":"3d463414.a01edc","group":"a60f00a6.1e6f9","name":"Camera white","order":5,"width":"7","height":"6","format":"<a>\n    \n<div>\n    <font size=\"1\">Caméra stream</font>\n   <font size=\"1\"> {{msg.payload}}</font>\n    <img width=\"320\" height=\"215\" ng-src= \"http://192.168.2.29/snap.jpg?usr=admin&pwd=admin&{{msg.payload}}\" alt=\"{{msg.payload}}\">\n</div>\n</a>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":525.0195426940918,"y":198.00391960144043,"wires":[[]]},{"id":"1fb156be.e09cc9","type":"debug","z":"3d463414.a01edc","name":"MSG1","active":true,"console":"false","complete":"payload","x":466.01953125,"y":355.00390625,"wires":[]},{"id":"e12062ab.e5ab1","type":"ui_button","z":"3d463414.a01edc","name":"","group":"a60f00a6.1e6f9","order":8,"width":"1","height":"1","passthru":false,"label":"View","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":107.01953125,"y":650.0039138793945,"wires":[["4916e3b0.ac98ec"]]},{"id":"2d3e789.605a788","type":"delay","z":"3d463414.a01edc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280.1523628234863,"y":774.5781812667847,"wires":[["4916e3b0.ac98ec"]]},{"id":"4916e3b0.ac98ec","type":"function","z":"3d463414.a01edc","name":"","func":"msg.payload = msg.payload + 1\n\nif (msg.payload == 10)\n    msg = null;\nreturn msg;","outputs":"1","noerr":0,"x":285.15235137939453,"y":653.5781412124634,"wires":[["8dee4349.3c913","28ba6fc5.2834d","2d3e789.605a788"]]},{"id":"28ba6fc5.2834d","type":"ui_template","z":"3d463414.a01edc","group":"d21c31b5.42c95","name":"forecast1","order":1,"width":"3","height":"3","format":"<a>\n    \n<div>\n    <font size=\"1\">Caméra stream</font>\n    <img width=\"300\" height=\"200\" ng-src= \"rtsp://admin:dg20160404@192.168.2.42/onvif1?{{msg.payload}}\" >\n</div>\n</a>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":531.1523551940918,"y":652.5781259536743,"wires":[[]]},{"id":"8dee4349.3c913","type":"debug","z":"3d463414.a01edc","name":"MSG1","active":true,"console":"false","complete":"payload","x":492.15234375,"y":809.5781126022339,"wires":[]},{"id":"823eafab.08d77","type":"ui_button","z":"3d463414.a01edc","name":"","group":"a60f00a6.1e6f9","order":4,"width":"3","height":"1","passthru":false,"label":"ViewO","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":71.01952743530273,"y":548.0039086341858,"wires":[["77cd9239.1fde0c"]]},{"id":"b1f62e90.f81e1","type":"delay","z":"3d463414.a01edc","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":271.1523628234863,"y":538.5781736373901,"wires":[["77cd9239.1fde0c"]]},{"id":"77cd9239.1fde0c","type":"function","z":"3d463414.a01edc","name":"","func":"msg.payload = msg.payload + 1\n\nif (msg.payload == 30)\n    msg = null;\n\nreturn msg;","outputs":"1","noerr":0,"x":256.15235137939453,"y":417.57813358306885,"wires":[["b2949565.ae3b88","b1f62e90.f81e1","ebe55f73.17583"]]},{"id":"ebe55f73.17583","type":"ui_template","z":"3d463414.a01edc","group":"a60f00a6.1e6f9","name":"Camera orange","order":3,"width":"7","height":"5","format":"<a>\n    \n<div>\n    <font size=\"1\">Caméra stream</font>\n   <font size=\"1\"> {{msg.payload}}</font>\n    <img width=\"320\" height=\"215\" ng-src= \"http://192.168.2.29/snap.jpg?usr=admin&pwd=admin&{{msg.payload}}\" alt=\"{{msg.payload}}\">\n</div>\n</a>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":637.1523666381836,"y":416.57819271087646,"wires":[[]]},{"id":"b2949565.ae3b88","type":"debug","z":"3d463414.a01edc","name":"MSG1","active":true,"console":"false","complete":"payload","x":463.15234375,"y":573.5781049728394,"wires":[]},{"id":"f7471ee6.44bf5","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"POOL/temperature","qos":"0","broker":"4c27d965.734f38","x":153.01953125,"y":716.00390625,"wires":[["5fd889b8.d27528"]]},{"id":"5fd889b8.d27528","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"476bdf4c.157df","order":7,"width":"2","height":"2","gtype":"gage","title":"Temperature","label":"","format":"{{value}}","min":"14","max":"32","colors":["#6ab5ff","#e6e600","#00ff40"],"seg1":"21","seg2":"25","x":334.02301025390625,"y":716.9136257171631,"wires":[]},{"id":"cf1fcb31.d0b8b8","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"POOL/ph","qos":"0","broker":"4c27d965.734f38","x":120.01953125,"y":776.00390625,"wires":[["e2b38b0d.050f18"]]},{"id":"e2b38b0d.050f18","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"476bdf4c.157df","order":7,"width":"2","height":"2","gtype":"gage","title":"PH","label":"","format":"{{value}}","min":"5","max":"9","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"6","seg2":"8","x":311.02301025390625,"y":776.9136257171631,"wires":[]},{"id":"89b9c6bb.551da8","type":"ui_slider","z":"fae16ff9.cf9dd","name":"Jardinières","label":"Jardinières","tooltip":"","group":"d21c31b5.42c95","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":397.8827934265137,"y":176.8476686477661,"wires":[["694a79c1.0c9c48"]]},{"id":"99d02489.6c0e48","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"DECK_LEDS/dimmer","qos":"2","broker":"4c27d965.734f38","x":151.01952743530273,"y":172.0039186477661,"wires":[["89b9c6bb.551da8"]]},{"id":"694a79c1.0c9c48","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"DECK_LEDS/dimmer","qos":"0","retain":"true","broker":"4c27d965.734f38","x":606.0195274353027,"y":183.00391674041748,"wires":[]},{"id":"89ed946b.6780c8","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"DECK/LIGHT/command","qos":"0","broker":"4c27d965.734f38","x":150.0195655822754,"y":41.00390338897705,"wires":[["40f28402.de59fc"]]},{"id":"40f28402.de59fc","type":"ui_switch","z":"fae16ff9.cf9dd","name":"Terrasse Light","label":"Mur","tooltip":"","group":"d21c31b5.42c95","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":421.0960388183594,"y":41.71573781967163,"wires":[["48da10c8.23772"]]},{"id":"48da10c8.23772","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"DECK/LIGHT/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":641.0960235595703,"y":41.788681983947754,"wires":[]},{"id":"59079f58.9e968","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"DECK_LEDS/stairs","qos":"2","broker":"4c27d965.734f38","x":140.99999809265137,"y":124.16015625,"wires":[["e5f4c6b1.9df028"]]},{"id":"a7aa2719.6ffb68","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"DECK_LEDS/stairs","qos":"0","retain":"true","broker":"4c27d965.734f38","x":595.9999980926514,"y":135.16015434265137,"wires":[]},{"id":"e5f4c6b1.9df028","type":"ui_switch","z":"fae16ff9.cf9dd","name":"Terrasse stairs","label":"Escaliers","group":"d21c31b5.42c95","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":381.01953125,"y":125.00390625,"wires":[["a7aa2719.6ffb68"]]},{"id":"8d64030f.1cd7a","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","name":"scentelles@gmail.com","dname":"send move","x":555.8984603881836,"y":185.77343940734863,"wires":[]},{"id":"c5f30280.758ed","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"move/detected","qos":"2","broker":"4c27d965.734f38","x":317.89453125,"y":200.43359375,"wires":[["8d64030f.1cd7a"]]},{"id":"b1180a7b.bc4fd8","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","name":"magali.centelles@gmail.com","dname":"send Dorian portail","x":640.0195274353027,"y":315.0039167404175,"wires":[]},{"id":"8e684e37.d0881","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"Door/dorian","qos":"2","broker":"4c27d965.734f38","x":165.01558685302734,"y":337.66406440734863,"wires":[["6af15a2a.10f9c4"]]},{"id":"73fedcc2.a13294","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","name":"scentelles@gmail.com","dname":"send Dorian portail","x":644.01953125,"y":380.00392723083496,"wires":[]},{"id":"6af15a2a.10f9c4","type":"function","z":"8ba8ba4f.08c5b8","name":"add image attachement","func":"msg.attachments = [{filename: 'portail.jpg',path: '/home/pi/camera1.jpg',content: msg.payload}];\nreturn msg;","outputs":1,"noerr":0,"x":382.88671875,"y":336.9023656845093,"wires":[["73fedcc2.a13294","b1180a7b.bc4fd8"]]},{"id":"9b1d54e9.46c058","type":"mqtt in","z":"3d463414.a01edc","name":"","topic":"Door/bell","qos":"2","broker":"4c27d965.734f38","x":65,"y":425.4414300918579,"wires":[["65a0b6c.8c1b348"]]},{"id":"65a0b6c.8c1b348","type":"function","z":"3d463414.a01edc","name":"","func":"msg.payload = 1\n\n\nreturn msg;","outputs":"1","noerr":0,"x":188.01953125,"y":380.00390625,"wires":[["77cd9239.1fde0c"]]},{"id":"ab4f5f88.71bff","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"Door/bell","qos":"2","broker":"4c27d965.734f38","x":143.01953125,"y":484.00390625,"wires":[["e3e72d5.79e02d"]]},{"id":"e3e72d5.79e02d","type":"function","z":"8ba8ba4f.08c5b8","name":"add image attachement","func":"msg.attachments = [{filename: 'portail.jpg',path: '/home/pi/camera1.jpg',content: msg.payload},{filename: 'portail2.jpg',path: '/home/pi/camera2.jpg',content: msg.payload}];\nreturn msg;","outputs":1,"noerr":0,"x":360.01953887939453,"y":484.0039119720459,"wires":[["78e7d631.b61a18","c67ce92e.c0d778"]]},{"id":"78e7d631.b61a18","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","name":"magali.centelles@gmail.com","dname":"send Door Bell","x":638.01953125,"y":454.00390625,"wires":[]},{"id":"c67ce92e.c0d778","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","name":"scentelles@gmail.com","dname":"send Door Bell","x":642.0195350646973,"y":519.0039167404175,"wires":[]},{"id":"86da16b0.4465c8","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","name":"magali.centelles@gmail.com","dname":"send Gael portail","x":616.0039405822754,"y":612.00390625,"wires":[]},{"id":"b3d870da.6ec91","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"Door/gael","qos":"2","broker":"4c27d965.734f38","x":131,"y":634.6640539169312,"wires":[["8c9b42e3.c905c"]]},{"id":"c3ee0809.ae0e58","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","name":"scentelles@gmail.com","dname":"send Gael portail","x":620.0039443969727,"y":677.0039167404175,"wires":[]},{"id":"8c9b42e3.c905c","type":"function","z":"8ba8ba4f.08c5b8","name":"add image attachement","func":"msg.attachments = [{filename: 'portail.jpg',path: '/home/pi/camera1.jpg',content: msg.payload},{filename: 'portail2.jpg',path: '/home/pi/camera2.jpg',content: msg.payload}];\nreturn msg;","outputs":1,"noerr":0,"x":358.87113189697266,"y":633.9023551940918,"wires":[["c3ee0809.ae0e58","86da16b0.4465c8"]]},{"id":"6fef555.3999eac","type":"light-scheduler","z":"b865006d.ca24f","settings":"e8954b58.37d528","events":"[{\"start\":{\"dow\":1,\"mod\":1215},\"end\":{\"dow\":1,\"mod\":1230}},{\"start\":{\"dow\":2,\"mod\":1320},\"end\":{\"dow\":2,\"mod\":1350}}]","topic":"","name":"Test schedule","onPayload":"true","onPayloadType":"bool","offPayload":"false","offPayloadType":"bool","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":420,"y":160,"wires":[["831052be.19f99"]]},{"id":"831052be.19f99","type":"ui_switch","z":"b865006d.ca24f","name":"","label":"switch","tooltip":"","group":"d21c31b5.42c95","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":600,"y":160,"wires":[[]]},{"id":"ffb359f4.8b6968","type":"yeelight","z":"b865006d.ca24f","name":"salon","command":"set_power","config":"3a5d5da2.3cf692","x":450,"y":320,"wires":[[]]},{"id":"b1f8eb29.ff73b8","type":"ui_switch","z":"b865006d.ca24f","name":"","label":"salon","tooltip":"","group":"d21c31b5.42c95","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":200,"y":320,"wires":[["ffb359f4.8b6968"]]},{"id":"c871377e.0198e8","type":"yeelight","z":"b865006d.ca24f","name":"salon","command":"set_ct_abx","config":"3a5d5da2.3cf692","x":450,"y":420,"wires":[[]]},{"id":"ad098f8c.04876","type":"ui_slider","z":"b865006d.ca24f","name":"","label":"temperature","tooltip":"","group":"d21c31b5.42c95","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"2700","max":"6500","step":"100","x":220,"y":420,"wires":[["c871377e.0198e8"]]},{"id":"bdb661fc.17739","type":"yeelight","z":"b865006d.ca24f","name":"salon","command":"set_bright","config":"3a5d5da2.3cf692","x":440,"y":500,"wires":[[]]},{"id":"f1c3a62e.5b7a68","type":"ui_slider","z":"b865006d.ca24f","name":"","label":"brightness","tooltip":"","group":"d21c31b5.42c95","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"100","step":"10","x":230,"y":500,"wires":[["bdb661fc.17739"]]},{"id":"ffc77007.11094","type":"light-scheduler","z":"fae16ff9.cf9dd","settings":"e8954b58.37d528","events":"[{\"start\":{\"dow\":1,\"mod\":750},\"end\":{\"dow\":1,\"mod\":930}},{\"start\":{\"dow\":2,\"mod\":750},\"end\":{\"dow\":2,\"mod\":930}},{\"start\":{\"dow\":3,\"mod\":750},\"end\":{\"dow\":3,\"mod\":930}},{\"start\":{\"dow\":4,\"mod\":750},\"end\":{\"dow\":4,\"mod\":930}},{\"start\":{\"dow\":5,\"mod\":750},\"end\":{\"dow\":5,\"mod\":930}},{\"start\":{\"dow\":6,\"mod\":750},\"end\":{\"dow\":6,\"mod\":930}},{\"start\":{\"dow\":0,\"mod\":750},\"end\":{\"dow\":0,\"mod\":930}},{\"start\":{\"dow\":1,\"mod\":120},\"end\":{\"dow\":1,\"mod\":420}},{\"start\":{\"dow\":2,\"mod\":120},\"end\":{\"dow\":2,\"mod\":420}},{\"start\":{\"dow\":3,\"mod\":120},\"end\":{\"dow\":3,\"mod\":420}},{\"start\":{\"dow\":4,\"mod\":120},\"end\":{\"dow\":4,\"mod\":420}},{\"start\":{\"dow\":5,\"mod\":120},\"end\":{\"dow\":5,\"mod\":420}},{\"start\":{\"dow\":6,\"mod\":120},\"end\":{\"dow\":6,\"mod\":420}},{\"start\":{\"dow\":0,\"mod\":120},\"end\":{\"dow\":0,\"mod\":420}}]","topic":"POOL/command","name":"POOL schedule","onPayload":"2","onPayloadType":"str","offPayload":"1","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":140,"y":560,"wires":[["253b6984.b1a896"]]},{"id":"253b6984.b1a896","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"POOL/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":390,"y":560,"wires":[]}]