node-red/.myflow.json.backup
[{"id":"1114e776.552d39","type":"tab","label":"Status"},{"id":"fae16ff9.cf9dd","type":"tab","label":"Control"},{"id":"4756ea39.363564","type":"tab","label":"Zigbee","disabled":false,"info":""},{"id":"3d463414.a01edc","type":"tab","label":"Caméras"},{"id":"cde55aee.521598","type":"tab","label":"Meteo"},{"id":"74ecca37.c56c84","type":"tab","label":"TV control"},{"id":"e0aaeaf6.13e5d8","type":"tab","label":"Agenda"},{"id":"8ba8ba4f.08c5b8","type":"tab","label":"email and alerts","disabled":false,"info":""},{"id":"e125ec34.66d12","type":"tab","label":"TTS","disabled":false,"info":""},{"id":"9c3c3655.d514b8","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"4c27d965.734f38","type":"mqtt-broker","broker":"192.168.1.27","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83470527.e55788","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"7ee3e4eb.d6cf1c","type":"ui_tab","name":"Advanced","icon":"dashboard","order":2,"disabled":true,"hidden":false},{"id":"c9331da9.e387d","type":"ui_tab","name":"Start","icon":"dashboard"},{"id":"7659c54a.c8a15c","type":"ui_tab","name":"Start","icon":"dashboard"},{"id":"875a6467.c406f8","type":"ui_tab","name":"Start","icon":"dashboard"},{"id":"163a2590.89dc7a","type":"ui_group","name":"Main","tab":"83470527.e55788","order":1,"disp":false,"width":"12"},{"id":"d4fb05fa.5aaf38","type":"ui_group","name":"Charts","tab":"83470527.e55788","order":2,"disp":false,"width":"10","collapse":false},{"id":"a60f00a6.1e6f9","type":"ui_group","name":"Portail","tab":"83470527.e55788","order":6,"disp":true,"width":"7"},{"id":"53326e09.7bef5","type":"ui_group","name":"Agenda","tab":"83470527.e55788","order":4,"disp":true,"width":"6"},{"id":"ee8bfe73.235b7","type":"ui_group","name":"ECS","tab":"83470527.e55788","order":5,"disp":false,"width":"5"},{"id":"ecc7cc9a.e7648","type":"ui_group","name":"Chauffage","tab":"83470527.e55788","order":7,"disp":true,"width":"5","collapse":false},{"id":"d21c31b5.42c95","type":"ui_group","name":"Terrasse","tab":"7ee3e4eb.d6cf1c","order":2,"disp":true,"width":"5"},{"id":"476bdf4c.157df","type":"ui_group","name":"Piscine","tab":"83470527.e55788","order":8,"disp":true,"width":"4"},{"id":"ee8c7e35.4633e","type":"ui_group","name":"Timer Etage","tab":"83470527.e55788","order":3,"disp":true,"width":"5","collapse":true},{"id":"9e21e484.c2f748","type":"ui_group","name":"Group 2","tab":"7ee3e4eb.d6cf1c","order":3,"disp":true,"width":6},{"id":"3a84f3d2.abe1dc","type":"ui_group","name":"Timer TV","tab":"7ee3e4eb.d6cf1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"21ac4269.c0f74e","type":"ui_group","name":"Default","tab":"c9331da9.e387d","order":1,"disp":true,"width":"6","collapse":false},{"id":"e4c9723.b15f59","type":"ui_group","name":"Default","tab":"7659c54a.c8a15c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9ad87c87.3684f","type":"ui_group","name":"Default","tab":"875a6467.c406f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2a6ccc3.850f4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Centelles's Dashboard","hideToolbar":"true","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8954b58.37d528","type":"light-scheduler-settings","name":"my settings","latitude":"43.4799","longitude":"1.3841"},{"id":"912133b0.401bd","type":"profile","name":"salon","time1":"00:00","temp1":"0","time2":"06:00","temp2":"0","time3":"06:30","temp3":"0","time4":"07:30","temp4":"21","time5":"22:30","temp5":"25","time6":"23:00","temp6":"0","time7":"24:00","temp7":"0","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"8c758809.49fa28","type":"profile","name":"Dreamroom","time1":"00:00","temp1":"12","time2":"16:00","temp2":"12","time3":"16:10","temp3":"19","time4":"20:00","temp4":"19","time5":"20:10","temp5":"12","time6":"23:59","temp6":"12","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"2f4ae2be.64216e","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"ECS/temp1","qos":"0","broker":"4c27d965.734f38","x":76,"y":112.45834732055664,"wires":[["9e6129b3.f067e8","2f0bdd1.e3c5c22"]]},{"id":"65e3fd3d.3830f4","type":"mqtt in","z":"1114e776.552d39","name":"Température Dream Room","topic":"ROOM1_SENSOR/temp","qos":"0","broker":"4c27d965.734f38","x":610,"y":200,"wires":[["71679956.813198"]]},{"id":"39609c5f.2413e4","type":"mqtt in","z":"1114e776.552d39","name":"EDF power","topic":"EDF/power","qos":"0","broker":"4c27d965.734f38","x":67.18336486816406,"y":348.21117973327637,"wires":[["240b39ac.ade646","a5c4376f.ccd258","931ff68c.2f22c8"]]},{"id":"9895b590.c796f8","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"ECS/force","qos":"2","broker":"4c27d965.734f38","x":120,"y":1000,"wires":[["51e49518.f5a3fc","46285d56.f43154"]]},{"id":"eddf8e5d.17a02","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"ECS/force","qos":"0","retain":"true","broker":"4c27d965.734f38","x":530,"y":1000,"wires":[]},{"id":"e3309e59.e7bf8","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"dreamroom/chauffage/command","qos":"0","broker":"4c27d965.734f38","x":186.01735305786133,"y":347.1874113082886,"wires":[["fc8bb600.fc97f8"]]},{"id":"a9ab84c9.7c8a08","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"dreamroom/chauffage/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":667.0938110351562,"y":347.9721899032593,"wires":[]},{"id":"d7320e91.1652c","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"RADIATOR_CIRCUIT1/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":677.0346717834473,"y":428.2603635787964,"wires":[]},{"id":"5511f50d.5b760c","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"RADIATOR_CIRCUIT1/command","qos":"0","broker":"4c27d965.734f38","x":171.0173454284668,"y":428.010422706604,"wires":[["1e8a57f7.25b218"]]},{"id":"f4a82aed.ac3848","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"POOL/command","qos":"0","broker":"4c27d965.734f38","x":132.0173454284668,"y":500.01041889190674,"wires":[["46b7f09c.4adc5"]]},{"id":"a91ce2ba.ec792","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"POOL/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":623.0938034057617,"y":500.79519748687744,"wires":[]},{"id":"e497c60f.8883c8","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"SYSTEM/cpu","qos":"0","broker":"4c27d965.734f38","x":630.0173492431641,"y":41.01041507720947,"wires":[["24de8577.8134ea"]]},{"id":"5024fcdc.8fad94","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"SYSTEM/memory","qos":"0","broker":"4c27d965.734f38","x":615.0138549804688,"y":91.10069179534912,"wires":[["e51f9938.d30508"]]},{"id":"accbf661.29fd18","type":"function","z":"fae16ff9.cf9dd","name":"","func":"if (msg.payload === true)\n    msg.payload = \"2\";\nelse\n    msg.payload = \"1\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":571.5628509521484,"y":1218.2931423187256,"wires":[["8e65c74e.d74e88"]]},{"id":"8e65c74e.d74e88","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"RADIATOR_CIRCUIT1/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":826.8759765625,"y":1217.0205249786377,"wires":[]},{"id":"b232a7e8.2f9978","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"ECS/temp2","qos":"0","broker":"4c27d965.734f38","x":75.0173568725586,"y":164.010404586792,"wires":[["9e6129b3.f067e8","e5265a8c.eb05c8"]]},{"id":"ffd54590.e0d948","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"ECS/target","qos":"0","broker":"4c27d965.734f38","x":66,"y":62.01041793823242,"wires":[["2f0bdd1.e3c5c22"]]},{"id":"2f0bdd1.e3c5c22","type":"function","z":"1114e776.552d39","name":"update target","func":"\nvar target = context.get('target');\n\nif (msg.topic === \"ECS/temp1\")\n{\n   msg.topic   = \"ECS/target\";\n   msg.payload = target;\n}\nelse\n{\n    target = msg.payload;\n    context.set('target',target);\n}\nreturn msg;","outputs":"1","noerr":0,"x":260.7058525085449,"y":61.72727394104004,"wires":[["9e6129b3.f067e8"]]},{"id":"5c6d1be0.11c744","type":"inject","z":"fae16ff9.cf9dd","name":"","repeat":"60","crontab":"","once":false,"topic":"","payload":"20","payloadType":"num","x":143.65214920043945,"y":1161.7267303466797,"wires":[["9e562cf1.fa7d2"]]},{"id":"b004a5bf.e4b7d8","type":"debug","z":"fae16ff9.cf9dd","name":"thermostat bool","active":false,"console":"false","complete":"payload","x":588.1976318359375,"y":1113.5449562072754,"wires":[]},{"id":"dcb6fb27.be6c88","type":"function","z":"fae16ff9.cf9dd","name":"","func":"var force_on = context.get('force_on');\n\nif (msg.topic === \"force\")\n{\n    if (msg.payload === true){\n        force_on = true;\n        context.set('force_on', true);\n    }        \n    else{\n        force_on = false;\n        context.set('force_on', false);\n    }\n}\n\n\nif ((msg.payload === true) || (force_on === true))\n    msg.payload = \"1\";\nelse\n    msg.payload = \"2\";\n\nreturn msg;","outputs":1,"noerr":0,"x":510.18343925476074,"y":1467.8882446289062,"wires":[["ec3ad299.dd054"]]},{"id":"5f3410ff.d241f","type":"debug","z":"fae16ff9.cf9dd","name":"DR therm bool","active":true,"console":"false","complete":"payload","x":564.0909652709961,"y":1348.5946044921875,"wires":[]},{"id":"ec3ad299.dd054","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"dreamroom/chauffage/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":730.6217498779297,"y":1424.454113483429,"wires":[]},{"id":"89803e3c.6dda6","type":"mqtt in","z":"fae16ff9.cf9dd","name":"Température Dream Room","topic":"ROOM1_SENSOR/temp","qos":"0","broker":"4c27d965.734f38","x":124.25820922851562,"y":1517.1812143325806,"wires":[["ef2bcde.8b1ba3"]]},{"id":"ef2bcde.8b1ba3","type":"function","z":"fae16ff9.cf9dd","name":"","func":"msg.topic = \"setCurrent\";\n\nreturn msg;","outputs":1,"noerr":0,"x":163.6521453857422,"y":1378.3933277130127,"wires":[["6235f63.9a1b208"]]},{"id":"2391f20a.8559ce","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"Door/open","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":590,"y":760,"wires":[]},{"id":"9e00f09e.2acc9","type":"inject","z":"1114e776.552d39","name":"every 10 minute","repeat":"600","crontab":"","once":false,"topic":"","payload":"20","payloadType":"num","x":153.01956176757812,"y":492.0039596557617,"wires":[[]]},{"id":"e7ac7337.da15b","type":"function","z":"1114e776.552d39","name":"extract temperatures","func":"var temperature   = { payload: msg.payload.devices[0].modules[0].measured.temperature };\nvar setpoint_temp = { payload: msg.payload.devices[0].modules[0].measured.setpoint_temp };\n\ntemperature.topic = \"temperature\";\nsetpoint_temp.topic = \"setpoint_temp\";\n\nreturn [temperature,setpoint_temp];","outputs":"2","noerr":0,"x":594.0196228027344,"y":493.0040063858032,"wires":[["f280a27a.0ff12"],["f280a27a.0ff12"]]},{"id":"a5c4376f.ccd258","type":"smooth","z":"1114e776.552d39","name":"","action":"mean","count":"80","round":"","x":225.89453506469727,"y":389.2383108139038,"wires":[["66e31ad6.ec4f54"]]},{"id":"66e31ad6.ec4f54","type":"function","z":"1114e776.552d39","name":"add topic","func":"msg.topic=\"smooth\";\nreturn msg;","outputs":1,"noerr":0,"x":375.89453887939453,"y":388.6562805175781,"wires":[["7739a28a.45cf9c"]]},{"id":"55ecdcf3.04e9f4","type":"split","z":"cde55aee.521598","name":"","splt":"\\n","x":182.3117904663086,"y":236.6556510925293,"wires":[["fedd3099.6b6a6"]]},{"id":"fedd3099.6b6a6","type":"switch","z":"cde55aee.521598","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","outputs":6,"x":342.6753616333008,"y":236.5652370452881,"wires":[["b52df3e4.32082","4e0eedab.d259d4"],["70fd8a8d.87a654","e179587e.33a9e8"],["9c5df490.9eccf8","f778c5cf.96eb48"],["d758f3ef.7962e","33918767.0642d8"],["37670d2b.aedc52","e9820561.636f08"],["10b7a914.921c07","90b26c0d.441af"]]},{"id":"b52df3e4.32082","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":628.7268676757812,"y":125.01810073852539,"wires":[["4e0eedab.d259d4"]]},{"id":"4e0eedab.d259d4","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":797.6749610900879,"y":154.9764404296875,"wires":[["5106ab91.089d54"]]},{"id":"70fd8a8d.87a654","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":632.8379898071289,"y":221.35151290893555,"wires":[["e179587e.33a9e8"]]},{"id":"e179587e.33a9e8","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":804.7861633300781,"y":264.3098316192627,"wires":[["aadf3a85.a74bd8"]]},{"id":"9c5df490.9eccf8","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":632.8379898071289,"y":309.35151290893555,"wires":[["f778c5cf.96eb48"]]},{"id":"f778c5cf.96eb48","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":801.7860832214355,"y":339.30985260009766,"wires":[["d65354f9.52f978"]]},{"id":"d758f3ef.7962e","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":634.8379898071289,"y":408.35151290893555,"wires":[["33918767.0642d8"]]},{"id":"33918767.0642d8","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":803.7860832214355,"y":438.30985260009766,"wires":[["fd9fefbd.a0045"]]},{"id":"37670d2b.aedc52","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":628.8379898071289,"y":492.35151290893555,"wires":[["e9820561.636f08"]]},{"id":"e9820561.636f08","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":797.7860832214355,"y":522.3098526000977,"wires":[["857eca58.0beac8"]]},{"id":"10b7a914.921c07","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://openweathermap.org/img/w/\" + icon + \".png\";\nreturn msg;","outputs":1,"noerr":0,"x":627.8379898071289,"y":582.5737419128418,"wires":[["90b26c0d.441af"]]},{"id":"90b26c0d.441af","type":"join","z":"cde55aee.521598","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":796.7860832214355,"y":612.5320816040039,"wires":[["502f20ad.30b25"]]},{"id":"29399d3a.c423e2","type":"inject","z":"cde55aee.521598","name":"Every 5 minutes","repeat":"300","crontab":"","once":false,"topic":"","payload":"20","payloadType":"num","x":153,"y":114.88005447387695,"wires":[["217159c5.4fd2d6"]]},{"id":"75c4fd30.d1de84","type":"function","z":"cde55aee.521598","name":"selectWeatherImage","func":"var icon = msg.payload.weather[0].icon;\nmsg.payload = \"http://192.168.1.27:8080/media/316.gif\";\nreturn msg;","outputs":1,"noerr":0,"x":649.3636245727539,"y":72.0617790222168,"wires":[[]]},{"id":"e5e48884.929068","type":"function","z":"74ecca37.c56c84","name":"loop function","func":"\nvar timer = context.get('timer');\nvar loopInProgress = context.get('loopInProgress');\nvar loopStop = context.get('loopStop');\n\n   node.log(\"timer :\");\n  node.log(timer);\n  \nloop = msg;\n    node.log(\"\\n\\nentering function\");\n    \nif (msg.topic === \"start\")\n{\n    if(loopInProgress === true)\n    {\n        context.set('loopStop', true);\n        return [null, null];\n    }\n        \n    context.set('loopInProgress', true);\n    context.set('loopStop', false);\n    loop.topic = \"loop\";\n    loop.payload = timer;   \n    \n    msg = null;\n    node.log(\"start\");\n    return [msg, loop];\n}\nif (msg.topic === \"timer\")\n{\n    node.log(\"timer value\");\n    timer = msg.payload;\n    context.set('timer', timer);\n    loop = null;\n    msg = null;\n    return [msg, loop];\n}\n\nif (msg.topic === \"loop\")\n{\n    node.log(\"looping\");\n    loop.payload = loop.payload - 1;\n    node.log(\"loop counter :\");\n    node.log(loop.payload);\n    \n    if(loopStop === true)\n    {\n        context.set('loopStop', false);\n        context.set('loopInProgress', false);\n        return [null, null];\n    }\n    \n    if(loop.payload === 0 )\n    {\n        node.log(\"equals!\");\n        context.set('loopInProgress', false);\n        msg.topic = \"endloop\";\n        msg.payload = 1;\n        loop = null;\n        return [msg, null];\n    }   \n    else\n    {\n        node.log(\"not equals\");\n        return [null, loop];\n    }\n}\n\nreturn [msg, loop];","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":393.9322052001953,"y":232.34691715240479,"wires":[["712ff967.68bab8"],["db1c377.1ec2dc8","c6bbec85.01d8"]]},{"id":"db1c377.1ec2dc8","type":"delay","z":"74ecca37.c56c84","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":394.73969650268555,"y":310.43792819976807,"wires":[["e5e48884.929068"]]},{"id":"712ff967.68bab8","type":"mqtt out","z":"74ecca37.c56c84","name":"","topic":"PRISE_TV/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":647.3832397460938,"y":225.31788444519043,"wires":[]},{"id":"a36b07.7599f4f8","type":"mqtt in","z":"74ecca37.c56c84","name":"","topic":"PRISE_TV/command","qos":"0","broker":"4c27d965.734f38","x":170.01953125,"y":46.00390625,"wires":[["4b3da2ca.c8d33c"]]},{"id":"29d90ac4.d4fde6","type":"mqtt out","z":"74ecca37.c56c84","name":"","topic":"PRISE_TV/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":651.0959892272949,"y":46.7886848449707,"wires":[]},{"id":"931ff68c.2f22c8","type":"function","z":"1114e776.552d39","name":"add topic","func":"msg.topic=\"raw\";\nreturn msg;","outputs":1,"noerr":0,"x":375.01953887939453,"y":349.0039176940918,"wires":[["7739a28a.45cf9c"]]},{"id":"729d2b5.6deded4","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"Door/open","qos":"0","retain":"true","broker":"4c27d965.734f38","x":588.4563293457031,"y":820.13671875,"wires":[]},{"id":"42d74bc4.5ef574","type":"debug","z":"1114e776.552d39","name":"NETATMO","active":true,"console":"true","complete":"payload","x":550.01953125,"y":590.00390625,"wires":[]},{"id":"b1f62e90.f81e1","type":"delay","z":"3d463414.a01edc","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":540,"wires":[["77cd9239.1fde0c"]]},{"id":"77cd9239.1fde0c","type":"function","z":"3d463414.a01edc","name":"","func":"var count=context.get('count') || 0;\nmsg.payload = msg.payload + 1;\n\nif (msg.payload == 15)\n    msg = null;\ncount = count + 1;\nvar msgCount = { payload: count };\ncontext.set('count',count);\nreturn [msg, msgCount];\n","outputs":2,"noerr":0,"x":554.9999885559082,"y":418.9999599456787,"wires":[["b2949565.ae3b88","b1f62e90.f81e1"],["ebe55f73.17583"]]},{"id":"b2949565.ae3b88","type":"debug","z":"3d463414.a01edc","name":"MSG1","active":true,"console":"false","complete":"payload","x":761.9999809265137,"y":574.9999313354492,"wires":[]},{"id":"f7471ee6.44bf5","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"POOL/temperature","qos":"0","broker":"4c27d965.734f38","x":153.01953125,"y":716.00390625,"wires":[["5fd889b8.d27528"]]},{"id":"cf1fcb31.d0b8b8","type":"mqtt in","z":"1114e776.552d39","name":"","topic":"POOL/ph","qos":"0","broker":"4c27d965.734f38","x":120.01953125,"y":776.00390625,"wires":[["80ae69af.7702c8"]]},{"id":"99d02489.6c0e48","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"DECK_LEDS/dimmer","qos":"2","broker":"4c27d965.734f38","x":151.01952743530273,"y":172.0039186477661,"wires":[["89b9c6bb.551da8"]]},{"id":"694a79c1.0c9c48","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"DECK_LEDS/dimmer","qos":"0","retain":"true","broker":"4c27d965.734f38","x":720,"y":180,"wires":[]},{"id":"89ed946b.6780c8","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"DECK/LIGHT/command","qos":"0","broker":"4c27d965.734f38","x":150.0195655822754,"y":41.00390338897705,"wires":[["40f28402.de59fc"]]},{"id":"48da10c8.23772","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"DECK/LIGHT/command","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":641.0960235595703,"y":41.788681983947754,"wires":[]},{"id":"59079f58.9e968","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"DECK_LEDS/stairs","qos":"2","broker":"4c27d965.734f38","x":140.99999809265137,"y":124.16015625,"wires":[["e5f4c6b1.9df028"]]},{"id":"a7aa2719.6ffb68","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"DECK_LEDS/stairs","qos":"0","retain":"true","broker":"4c27d965.734f38","x":710,"y":120,"wires":[]},{"id":"8e684e37.d0881","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"Door/dorian","qos":"2","broker":"4c27d965.734f38","x":165.01558685302734,"y":337.66406440734863,"wires":[["6af15a2a.10f9c4"]]},{"id":"6af15a2a.10f9c4","type":"function","z":"8ba8ba4f.08c5b8","name":"add image attachement","func":"msg.attachments = [{filename: 'portail.jpg',path: '/home/pi/camera1.jpg',content: msg.payload}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":382.88671875,"y":336.9023656845093,"wires":[["73fedcc2.a13294","b1180a7b.bc4fd8"]]},{"id":"9b1d54e9.46c058","type":"mqtt in","z":"3d463414.a01edc","name":"","topic":"Door/bell","qos":"2","broker":"4c27d965.734f38","x":160,"y":380,"wires":[["65a0b6c.8c1b348"]]},{"id":"65a0b6c.8c1b348","type":"function","z":"3d463414.a01edc","name":"","func":"msg.payload = 1\n\n\nreturn msg;","outputs":"1","noerr":0,"x":310,"y":380,"wires":[["77cd9239.1fde0c"]]},{"id":"ab4f5f88.71bff","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"Door/bell","qos":"2","broker":"4c27d965.734f38","x":143.01953125,"y":484.00390625,"wires":[["e3e72d5.79e02d"]]},{"id":"e3e72d5.79e02d","type":"function","z":"8ba8ba4f.08c5b8","name":"add image attachement","func":"msg.attachments = [{filename: 'portail.jpg',path: '/home/pi/camera1.jpg',content: msg.payload}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360.01953887939453,"y":484.0039119720459,"wires":[["78e7d631.b61a18","c67ce92e.c0d778"]]},{"id":"b3d870da.6ec91","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"Door/gael","qos":"2","broker":"4c27d965.734f38","x":131,"y":634.6640539169312,"wires":[["8c9b42e3.c905c"]]},{"id":"8c9b42e3.c905c","type":"function","z":"8ba8ba4f.08c5b8","name":"add image attachement","func":"msg.attachments = [{filename: 'portail.jpg',path: '/home/pi/camera1.jpg',content: msg.payload}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":358.87113189697266,"y":633.9023551940918,"wires":[["c3ee0809.ae0e58","86da16b0.4465c8"]]},{"id":"253b6984.b1a896","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"POOL/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":670,"y":620,"wires":[]},{"id":"80ae69af.7702c8","type":"function","z":"1114e776.552d39","name":"","func":"\nmsg.payload = parseFloat(msg.payload - 0.9).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":860,"wires":[["e2b38b0d.050f18"]]},{"id":"986f0f02.470e5","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"ECS/temp2","qos":"0","broker":"4c27d965.734f38","x":170,"y":160,"wires":[["58c07a23.747de4"]]},{"id":"58c07a23.747de4","type":"function","z":"8ba8ba4f.08c5b8","name":"Check ECS low temp","func":"var count=context.get('warncount') || 0;\n\nif (msg.payload < 20)\n{\n   count += 1;\n   context.set('count',count);\n   if (count > 30)\n   {\n       msg.payload = \"Warning : Temperature du chauffe-eau trop basse\";\n       count = 0;\n       context.set('count',count);\n       return msg;\n   }\n\n}\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":160,"wires":[["8d64030f.1cd7a"]]},{"id":"c5f30280.758ed","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"move/detected","qos":"2","datatype":"auto","broker":"4c27d965.734f38","x":180,"y":220,"wires":[["8d64030f.1cd7a"]]},{"id":"8fc29c5c.75298","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"ROOM1_SENSOR/hum","qos":"0","broker":"4c27d965.734f38","x":140,"y":100,"wires":[["34a1ccfe.a667b4"]]},{"id":"34a1ccfe.a667b4","type":"function","z":"8ba8ba4f.08c5b8","name":"Check humidity high","func":"if (msg.payload > 50)\n{\n   msg.payload = \"Warning : Humidite dream room elevee\";\n   return msg;\n}\n","outputs":"1","noerr":0,"x":400,"y":100,"wires":[["8d64030f.1cd7a"]]},{"id":"46285d56.f43154","type":"function","z":"fae16ff9.cf9dd","name":"pass msg except if force","func":"var force=context.get('force') || 0;\n\nif(msg.topic==\"ECS/force\")\n{\n    context.set('force',msg.payload);\n    msg.topic=\"ECS/command\"\n    msg.payload=\"5\"\n}\nelse\n{\n    if((force == \"1\") || (force == \"2\"))\n    {\n        //skip\n    }\n    else\n    {\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":470,"y":940,"wires":[["ce35b5fa.275d28"]]},{"id":"ce35b5fa.275d28","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"ECS/command","qos":"0","retain":"true","broker":"4c27d965.734f38","x":740,"y":940,"wires":[]},{"id":"bf214d26.a7879","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"ECS/warning","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":310,"y":40,"wires":[["b4de0207.b59a2"]]},{"id":"b4de0207.b59a2","type":"function","z":"8ba8ba4f.08c5b8","name":"Format mail","func":"   msg.topic = \"Warning : chauffe eau\";\n   return msg;\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":40,"wires":[["6d9d7d9.422c784"]]},{"id":"c4b0596d.3c9d38","type":"mqtt in","z":"1114e776.552d39","name":"Cuisine","topic":"mijia1/temp","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":110,"y":940,"wires":[["e16c495.1e39cb8"]]},{"id":"2307991d.e3b126","type":"mqtt in","z":"1114e776.552d39","name":"Etage","topic":"mijia2/temp","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":110,"y":1000,"wires":[["e16c495.1e39cb8"]]},{"id":"e8be4cd.e598bb","type":"mqtt in","z":"1114e776.552d39","name":"Chambre1","topic":"mijia3/temp","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":120,"y":1060,"wires":[["e16c495.1e39cb8"]]},{"id":"b1b7064a.bfc9a8","type":"mqtt in","z":"1114e776.552d39","name":"Chambre2","topic":"mijia4/temp","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":120,"y":1100,"wires":[["e16c495.1e39cb8"]]},{"id":"9017763c.444588","type":"mqtt in","z":"1114e776.552d39","name":"Cuisine","topic":"mijia1/hum","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":110,"y":1180,"wires":[["1c645e27.292f52"]]},{"id":"4c2068e4.4c0d28","type":"mqtt in","z":"1114e776.552d39","name":"Etage","topic":"mijia2/hum","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":110,"y":1240,"wires":[["1c645e27.292f52"]]},{"id":"16bf1bb.b796de4","type":"mqtt in","z":"1114e776.552d39","name":"Chambre1","topic":"mijia3/hum","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":120,"y":1300,"wires":[["1c645e27.292f52"]]},{"id":"ec82e943.a62a88","type":"mqtt in","z":"1114e776.552d39","name":"Chambre2","topic":"mijia4/hum","qos":"0","datatype":"auto","broker":"4c27d965.734f38","x":120,"y":1340,"wires":[["1c645e27.292f52"]]},{"id":"2dfbc10b.22edce","type":"http in","z":"e125ec34.66d12","name":"getwave","url":"/wave.mp3","method":"get","upload":false,"swaggerDoc":"","x":270,"y":140,"wires":[["470c5520.c7a5fc"]]},{"id":"470c5520.c7a5fc","type":"file in","z":"e125ec34.66d12","name":"","filename":"/home/pi/wave.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":500,"y":140,"wires":[["11a3a51b.b4ea7b"]]},{"id":"11a3a51b.b4ea7b","type":"http response","z":"e125ec34.66d12","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]},{"id":"2bb34307.ea4a8c","type":"function","z":"9c3c3655.d514b8","name":"loop function","func":"\n\nvar timer = context.get('timer');\nvar loopInProgress = context.get('loopInProgress');\nvar loopStop = context.get('loopStop');\n\n   node.log(\"timer :\");\n  node.log(timer);\n  \nloop = msg;\n    node.log(\"\\n\\nentering function\");\n    \nif (msg.topic === \"start\")\n{\n    if(loopInProgress === true)\n    {\n        context.set('loopStop', true);\n        return [null, null];\n    }\n        \n    context.set('loopInProgress', true);\n    context.set('loopStop', false);\n    loop.topic = \"loop\";\n    loop.payload = timer;   \n    \n    msg = null;\n    node.log(\"start\");\n    return [msg, loop];\n}\nif (msg.topic === \"timer\")\n{\n    node.log(\"timer value\");\n    timer = msg.payload;\n    context.set('timer', timer);\n    loop = null;\n    msg = null;\n    return [msg, loop];\n}\n\nif (msg.topic === \"loop\")\n{\n    node.log(\"looping\");\n    loop.payload = loop.payload - 1;\n    node.log(\"loop counter :\");\n    node.log(loop.payload);\n    \n    if(loopStop === true)\n    {\n        context.set('loopStop', false);\n        context.set('loopInProgress', false);\n        return [null, null];\n    }\n    \n    if(loop.payload === 0 )\n    {\n        node.log(\"equals!\");\n        context.set('loopInProgress', false);\n        msg.topic = \"endloop\";\n        msg.payload = 1;\n        loop = null;\n        return [msg, null];\n    }   \n    else\n    {\n        node.log(\"not equals\");\n        return [null, loop];\n    }\n}\n\nreturn [msg, loop];","outputs":"2","noerr":0,"x":538.9126739501953,"y":281.3430109024048,"wires":[["233fa83e.84b408","6a982278.6a674c"],["165f0c14.bcdfc4","78cd489b.e31ec8"]]},{"id":"165f0c14.bcdfc4","type":"delay","z":"9c3c3655.d514b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":539.7201652526855,"y":359.43402194976807,"wires":[["2bb34307.ea4a8c"]]},{"id":"233fa83e.84b408","type":"mqtt out","z":"9c3c3655.d514b8","name":"","topic":"/speaker1/timer","qos":"0","retain":"true","broker":"4c27d965.734f38","x":880,"y":420,"wires":[]},{"id":"d9f24729.cd8378","type":"function","z":"9c3c3655.d514b8","name":"convert","func":"\nmsg.payload = '2';\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":440,"wires":[["233fa83e.84b408"]]},{"id":"93d66815.68df58","type":"function","z":"9c3c3655.d514b8","name":"convert","func":"\nmsg.payload = '3';\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["233fa83e.84b408","6a982278.6a674c"]]},{"id":"26e9b1ad.29e90e","type":"delay","z":"9c3c3655.d514b8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":580,"wires":[["6a982278.6a674c"]]},{"id":"6a982278.6a674c","type":"function","z":"9c3c3655.d514b8","name":"Flip color RED/BLUE","func":"var stopped=context.get('stopped') || false;\n\n\nif (msg.background == \"RED\") {\n    msg.background = \"BLUE\";\n} else {\n    msg.background = \"RED\";\n}\nif(msg.topic === \"start\")\n{\n    stopped = false;\n    context.set('stopped',false);\n}\nif((msg.topic === \"abort\") || (msg.topic === \"endloop\"))\n{\n    stopped = true;\n    context.set('stopped',true);\n}\n\nif(stopped === false)\n{\n  msg.topic = \"loop\"\n  return msg;\n}","outputs":1,"noerr":0,"x":680,"y":760,"wires":[["3405dfad.79a8e","26e9b1ad.29e90e"]]},{"id":"e2df246b.743568","type":"inject","z":"3d463414.a01edc","name":"","repeat":"","crontab":"*/10 7-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":620,"wires":[["c38eba76.03cb88"]]},{"id":"c38eba76.03cb88","type":"function","z":"3d463414.a01edc","name":"increment count","func":"var count=context.get('count') || 0;\n\ncount = count + 1;\nvar msgCount = { payload: count };\ncontext.set('count',count);\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["ebe55f73.17583"]]},{"id":"58094ffa.216b9","type":"link in","z":"3d463414.a01edc","name":"link from portail open commands","links":["6dc148c0.4dc268"],"x":160,"y":320,"wires":[["65a0b6c.8c1b348"]]},{"id":"6dc148c0.4dc268","type":"link out","z":"fae16ff9.cf9dd","name":"Send camera view command","links":["58094ffa.216b9"],"x":544.3603439331055,"y":894.3480005264282,"wires":[]},{"id":"51e49518.f5a3fc","type":"ui_dropdown","z":"fae16ff9.cf9dd","name":"","label":"","tooltip":"","place":"Select option","group":"ee8bfe73.235b7","order":12,"width":"3","height":"1","passthru":false,"multiple":false,"options":[{"label":"AUTO","value":"0","type":"str"},{"label":"ON","value":"2","type":"str"},{"label":"OFF","value":"1","type":"str"}],"payload":"","topic":"","topicType":"str","x":300,"y":1000,"wires":[["eddf8e5d.17a02"]]},{"id":"fc8bb600.fc97f8","type":"ui_switch","z":"fae16ff9.cf9dd","name":"DR Chauffage","label":"DR Chauffage","tooltip":"","group":"ecc7cc9a.e7648","order":11,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"2","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":427.0938262939453,"y":347.89924573898315,"wires":[["a9ab84c9.7c8a08"]]},{"id":"1e8a57f7.25b218","type":"ui_switch","z":"fae16ff9.cf9dd","name":"Salon Chauffage","label":"Salon Chauffage","tooltip":"","group":"ecc7cc9a.e7648","order":13,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":427.03466796875,"y":428.18742847442627,"wires":[["d7320e91.1652c"]]},{"id":"4b3da2ca.c8d33c","type":"ui_switch","z":"74ecca37.c56c84","name":"","label":"TV","tooltip":"","group":"3a84f3d2.abe1dc","order":2,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":411.096004486084,"y":46.71574068069458,"wires":[["29d90ac4.d4fde6"]]},{"id":"40f28402.de59fc","type":"ui_switch","z":"fae16ff9.cf9dd","name":"Terrasse Light","label":"Mur","tooltip":"","group":"d21c31b5.42c95","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":421.0960388183594,"y":41.71573781967163,"wires":[["48da10c8.23772"]]},{"id":"e5f4c6b1.9df028","type":"ui_switch","z":"fae16ff9.cf9dd","name":"Terrasse stairs","label":"Escaliers","tooltip":"","group":"d21c31b5.42c95","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":381.01953125,"y":125.00390625,"wires":[["a7aa2719.6ffb68"]]},{"id":"46b7f09c.4adc5","type":"ui_switch","z":"fae16ff9.cf9dd","name":"POOL pump","label":"Pompe","tooltip":"","group":"476bdf4c.157df","order":11,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"POOL/command","topicType":"str","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":413.0938186645508,"y":500.7222533226013,"wires":[["a91ce2ba.ec792"]]},{"id":"d961665.021d698","type":"ui_switch","z":"fae16ff9.cf9dd","name":"Terrasse Light","label":"Terrasse","tooltip":"","group":"ecc7cc9a.e7648","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":400,"y":240,"wires":[["a7aa2719.6ffb68","48da10c8.23772"]]},{"id":"89b9c6bb.551da8","type":"ui_slider","z":"fae16ff9.cf9dd","name":"Jardinières","label":"Jardinières","tooltip":"","group":"d21c31b5.42c95","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":"100","step":"5","x":397.8827934265137,"y":176.8476686477661,"wires":[["694a79c1.0c9c48"]]},{"id":"3f3b288f.7b9208","type":"ui_numeric","z":"74ecca37.c56c84","name":"","label":"","tooltip":"","group":"3a84f3d2.abe1dc","order":1,"width":"2","height":"1","wrap":false,"passthru":true,"topic":"timer","topicType":"str","format":"{{value}}","min":0,"max":"120","step":"10","x":172.89453125,"y":179.92578125,"wires":[["c6bbec85.01d8","e5e48884.929068"]]},{"id":"31e48f95.fa631","type":"ui_numeric","z":"9c3c3655.d514b8","name":"","label":"","tooltip":"","group":"ee8c7e35.4633e","order":1,"width":"2","height":"1","wrap":false,"passthru":true,"topic":"timer","topicType":"str","format":"{{value}}","min":0,"max":"120","step":"10","x":180,"y":80,"wires":[["78cd489b.e31ec8","2bb34307.ea4a8c"]]},{"id":"e5265a8c.eb05c8","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"ee8bfe73.235b7","order":7,"width":"2","height":"2","gtype":"gage","title":"ECS","label":"°C","format":"{{value}}","min":0,"max":"70","colors":["#e60005","#ff8000","#0cea00"],"seg1":"20","seg2":"25","x":425.518611907959,"y":111.99999809265137,"wires":[]},{"id":"71679956.813198","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":8,"width":"2","height":"2","gtype":"gage","title":"Dream Room","label":"°C","format":"{{value}}","min":0,"max":"30","colors":["#1ca6f9","#2bda0c","#e78f1b"],"seg1":"20","seg2":"25","x":941.4561004638672,"y":145.30208206176758,"wires":[]},{"id":"240b39ac.ade646","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":9,"width":"2","height":"2","gtype":"gage","title":"EDF power","label":"units","format":"{{value}}","min":0,"max":"7000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":312.45610427856445,"y":296.3020706176758,"wires":[]},{"id":"24de8577.8134ea","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":7,"width":"2","height":"2","gtype":"gage","title":"CPU","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","x":811.0208282470703,"y":41.92013454437256,"wires":[]},{"id":"e51f9938.d30508","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"163a2590.89dc7a","order":7,"width":"2","height":"2","gtype":"gage","title":"MEMORY","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ff8000","#ca3838"],"seg1":"50","seg2":"75","x":820.0173301696777,"y":91.01041603088379,"wires":[]},{"id":"c6bbec85.01d8","type":"ui_gauge","z":"74ecca37.c56c84","name":"","group":"3a84f3d2.abe1dc","order":4,"width":"3","height":"3","gtype":"compass","title":"Gauge","label":"minutes","format":"{{value}}","min":0,"max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":562.0806179046631,"y":127.17298603057861,"wires":[]},{"id":"5fd889b8.d27528","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"476bdf4c.157df","order":7,"width":"2","height":"2","gtype":"gage","title":"Temperature","label":"","format":"{{value}}","min":"14","max":"32","colors":["#6ab5ff","#e6e600","#00ff40"],"seg1":"21","seg2":"25","x":334.02301025390625,"y":716.9136257171631,"wires":[]},{"id":"e2b38b0d.050f18","type":"ui_gauge","z":"1114e776.552d39","name":"","group":"476bdf4c.157df","order":7,"width":"2","height":"2","gtype":"gage","title":"PH","label":"","format":"{{value}}","min":"5","max":"9","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"6","seg2":"8","x":430,"y":780,"wires":[]},{"id":"78cd489b.e31ec8","type":"ui_gauge","z":"9c3c3655.d514b8","name":"","group":"ee8c7e35.4633e","order":2,"width":"2","height":"2","gtype":"gage","title":"Gauge","label":"minutes","format":"{{value}}","min":0,"max":"120","colors":["#ff0000","#e6e600","#30b300"],"seg1":"","seg2":"","x":707.0610866546631,"y":176.1690797805786,"wires":[]},{"id":"9e6129b3.f067e8","type":"ui_chart","z":"1114e776.552d39","name":"","group":"ee8bfe73.235b7","order":1,"width":"5","height":"4","label":"ECS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff1a1f","#f8bc30","#04a600","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":425.23559951782227,"y":169.72728729248047,"wires":[[]]},{"id":"7739a28a.45cf9c","type":"ui_chart","z":"1114e776.552d39","name":"","group":"d4fb05fa.5aaf38","order":1,"width":"5","height":"4","label":"EDF","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"2000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e60000","#6666ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":531.0173683166504,"y":348.0104351043701,"wires":[[]]},{"id":"f280a27a.0ff12","type":"ui_chart","z":"1114e776.552d39","name":"","group":"d4fb05fa.5aaf38","order":2,"width":"5","height":"4","label":"Salon","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#251aff","#e3120d","#04a600","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":797.0197334289551,"y":494.0039825439453,"wires":[[]]},{"id":"e16c495.1e39cb8","type":"ui_chart","z":"1114e776.552d39","name":"","group":"d4fb05fa.5aaf38","order":3,"width":"5","height":"4","label":"Temperatures","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff1a1f","#f8bc30","#04a600","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":360,"y":940,"wires":[[]]},{"id":"1c645e27.292f52","type":"ui_chart","z":"1114e776.552d39","name":"","group":"d4fb05fa.5aaf38","order":4,"width":"5","height":"4","label":"Hygro","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff1a1f","#f8bc30","#04a600","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":330,"y":1200,"wires":[[]]},{"id":"5106ab91.089d54","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast1","order":1,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":938.6723670959473,"y":155.00390625,"wires":[[]]},{"id":"aadf3a85.a74bd8","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast2","order":2,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":942.7834892272949,"y":251.33731842041016,"wires":[[]]},{"id":"d65354f9.52f978","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast3","order":3,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":942.7834892272949,"y":339.33731842041016,"wires":[[]]},{"id":"fd9fefbd.a0045","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast4","order":4,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":944.7834892272949,"y":438.33731842041016,"wires":[[]]},{"id":"857eca58.0beac8","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast5","order":5,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":938.7834892272949,"y":522.3373184204102,"wires":[[]]},{"id":"502f20ad.30b25","type":"ui_template","z":"cde55aee.521598","group":"163a2590.89dc7a","name":"forecast6","order":6,"width":"2","height":"3","format":"<div>\n    <font size=\"1\">{{msg.payload[1].main.temp_min.toFixed(1)}}/{{msg.payload[1].main.temp_max.toFixed(1)}} °C</font>\n    <font size=\"1\">{{msg.payload[1].dt_txt}}</font>\n    \n    <img src=\"{{msg.payload[0]}}\" alt=\"noimage\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":937.7834892272949,"y":612.5595474243164,"wires":[[]]},{"id":"dc739ece.89559","type":"ui_template","z":"e0aaeaf6.13e5d8","group":"53326e09.7bef5","name":"Agenda","order":1,"width":"6","height":"5","format":"<iframe src=\"https://calendar.google.com/calendar/embed?title=Agenda&amp;\nshowTitle=0&amp;\nshowNav=0&amp;\nshowDate=0&amp;\nshowPrint=0&amp;\nshowTabs=0&amp;\nshowCalendars=0&amp;\nshowTz=0&amp;\nmode=AGENDA&amp;\nheight=400&amp;\nwkst=2&amp;\nhl=fr&amp;\nbgcolor=%23555555&amp;\nsrc=scentelles%40gmail.com&amp;\ncolor=%23ffffff&amp;\nctz=Europe%2FParis\" style=\"border:solid 3px #777\" width=\"300\" height=\"400\" frameborder=\"0\" scrolling=\"no\"></iframe>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":292.01953125,"y":144.00390625,"wires":[[]]},{"id":"ebe55f73.17583","type":"ui_template","z":"3d463414.a01edc","group":"a60f00a6.1e6f9","name":"Camera orange","order":3,"width":"7","height":"5","format":"<a>\n    \n<div>\n    <font size=\"1\">Caméra stream</font>\n   <font size=\"1\"> {{msg.payload}}</font>\n    <!--<img width=\"320\" height=\"215\" src= \"http://192.168.2.29/snap.jpg?usr=admin&pwd=admin&{{msg.payload}}?t=<?php echo time();?>\" alt=\"{{msg.payload}}\">   -->\n    <img width=\"320\" height=\"215\" src=\"http://192.168.2.29/snap.jpg&usr=admin&pwd=admin&{{msg.payload}}\" />\n \n</div>\n</a>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":936.0000038146973,"y":418.0000190734863,"wires":[[]]},{"id":"b3705dc7.63f5d","type":"ui_button","z":"fae16ff9.cf9dd","name":"","group":"a60f00a6.1e6f9","order":2,"width":"3","height":"1","passthru":false,"label":"Portail","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":371.7992820739746,"y":759.3316717147827,"wires":[["2391f20a.8559ce","6dc148c0.4dc268"]]},{"id":"922ede07.b358c","type":"ui_button","z":"74ecca37.c56c84","name":"","group":"3a84f3d2.abe1dc","order":3,"width":"2","height":"2","passthru":false,"label":"Start timer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":185.01953125,"y":231.00390625,"wires":[["e5e48884.929068"]]},{"id":"b7eaf611.d112a8","type":"ui_button","z":"fae16ff9.cf9dd","name":"","group":"a60f00a6.1e6f9","order":1,"width":"3","height":"1","passthru":false,"label":"Piéton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"12","payloadType":"str","topic":"","x":370.25561141967773,"y":819.4683904647827,"wires":[["729d2b5.6deded4","6dc148c0.4dc268"]]},{"id":"823eafab.08d77","type":"ui_button","z":"3d463414.a01edc","name":"","group":"a60f00a6.1e6f9","order":4,"width":"3","height":"1","passthru":false,"label":"Camera","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":160,"y":540,"wires":[["77cd9239.1fde0c"]]},{"id":"3405dfad.79a8e","type":"ui_button","z":"9c3c3655.d514b8","name":"","group":"ee8c7e35.4633e","order":3,"width":"2","height":"2","passthru":false,"label":"Start timer","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"start","x":190,"y":220,"wires":[["2bb34307.ea4a8c","d9f24729.cd8378","26e9b1ad.29e90e"]]},{"id":"7d2bb22e.b2908c","type":"ui_button","z":"9c3c3655.d514b8","name":"","group":"ee8c7e35.4633e","order":4,"width":"2","height":"1","passthru":false,"label":"Abort","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"abort","x":170,"y":540,"wires":[["93d66815.68df58"]]},{"id":"ffc77007.11094","type":"light-scheduler","z":"fae16ff9.cf9dd","settings":"e8954b58.37d528","events":"[{\"start\":{\"dow\":3,\"mod\":745},\"end\":{\"dow\":3,\"mod\":870}},{\"start\":{\"dow\":2,\"mod\":745},\"end\":{\"dow\":2,\"mod\":870}},{\"start\":{\"dow\":1,\"mod\":745},\"end\":{\"dow\":1,\"mod\":870}},{\"start\":{\"dow\":4,\"mod\":745},\"end\":{\"dow\":4,\"mod\":870}},{\"start\":{\"dow\":5,\"mod\":750},\"end\":{\"dow\":5,\"mod\":870}},{\"start\":{\"dow\":6,\"mod\":745},\"end\":{\"dow\":6,\"mod\":870}},{\"start\":{\"dow\":0,\"mod\":750},\"end\":{\"dow\":0,\"mod\":875}},{\"start\":{\"dow\":1,\"mod\":155},\"end\":{\"dow\":1,\"mod\":360}},{\"start\":{\"dow\":4,\"mod\":150},\"end\":{\"dow\":4,\"mod\":360}},{\"start\":{\"dow\":5,\"mod\":150},\"end\":{\"dow\":5,\"mod\":360}},{\"start\":{\"dow\":6,\"mod\":145},\"end\":{\"dow\":6,\"mod\":360}},{\"start\":{\"dow\":0,\"mod\":150},\"end\":{\"dow\":0,\"mod\":365}},{\"start\":{\"dow\":3,\"mod\":155},\"end\":{\"dow\":3,\"mod\":365}},{\"start\":{\"dow\":2,\"mod\":145},\"end\":{\"dow\":2,\"mod\":365}}]","topic":"POOL/command","name":"POOL schedule","onPayload":"2","onPayloadType":"str","offPayload":"1","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":160,"y":620,"wires":[["ccb4a0ee.36e56"]]},{"id":"7e680a4e.a18a44","type":"light-scheduler","z":"fae16ff9.cf9dd","settings":"e8954b58.37d528","events":"[{\"start\":{\"dow\":2,\"mod\":750},\"end\":{\"dow\":2,\"mod\":930}},{\"start\":{\"dow\":4,\"mod\":750},\"end\":{\"dow\":4,\"mod\":930}},{\"start\":{\"dow\":6,\"mod\":750},\"end\":{\"dow\":6,\"mod\":930}},{\"start\":{\"dow\":3,\"mod\":150},\"end\":{\"dow\":3,\"mod\":450}},{\"start\":{\"dow\":5,\"mod\":150},\"end\":{\"dow\":5,\"mod\":450}},{\"start\":{\"dow\":6,\"mod\":150},\"end\":{\"dow\":6,\"mod\":450}},{\"start\":{\"dow\":0,\"mod\":750},\"end\":{\"dow\":0,\"mod\":930}},{\"start\":{\"dow\":2,\"mod\":150},\"end\":{\"dow\":2,\"mod\":450}},{\"start\":{\"dow\":0,\"mod\":150},\"end\":{\"dow\":0,\"mod\":450}},{\"start\":{\"dow\":3,\"mod\":750},\"end\":{\"dow\":3,\"mod\":930}},{\"start\":{\"dow\":1,\"mod\":150},\"end\":{\"dow\":1,\"mod\":450}},{\"start\":{\"dow\":4,\"mod\":150},\"end\":{\"dow\":4,\"mod\":450}},{\"start\":{\"dow\":1,\"mod\":750},\"end\":{\"dow\":1,\"mod\":930}},{\"start\":{\"dow\":5,\"mod\":750},\"end\":{\"dow\":5,\"mod\":930}}]","topic":"ECS/command","name":"ecschedule","onPayload":"2","onPayloadType":"str","offPayload":"1","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":130,"y":940,"wires":[["46285d56.f43154"]]},{"id":"9e562cf1.fa7d2","type":"ramp-thermostat","z":"fae16ff9.cf9dd","name":"","profile":"912133b0.401bd","hysteresisplus":0,"hysteresisminus":0,"x":354.30577850341797,"y":1145.2021980285645,"wires":[["b004a5bf.e4b7d8","accbf661.29fd18"],[],[]]},{"id":"6235f63.9a1b208","type":"ramp-thermostat","z":"fae16ff9.cf9dd","name":"","profile":"8c758809.49fa28","hysteresisplus":"0.2","hysteresisminus":"0.2","x":330.19911193847656,"y":1380.2518463134766,"wires":[["5f3410ff.d241f","dcb6fb27.be6c88"],[],[]]},{"id":"8d64030f.1cd7a","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"scentelles@gmail.com","dname":"send email alert","x":740,"y":180,"wires":[]},{"id":"b1180a7b.bc4fd8","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"magali.centelles@gmail.com","dname":"send Dorian portail","x":640.0195274353027,"y":315.0039167404175,"wires":[]},{"id":"73fedcc2.a13294","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"scentelles@gmail.com","dname":"send Dorian portail","x":644.01953125,"y":380.00392723083496,"wires":[]},{"id":"78e7d631.b61a18","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"magali.centelles@gmail.com","dname":"send Door Bell","x":638.01953125,"y":454.00390625,"wires":[]},{"id":"c67ce92e.c0d778","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"scentelles@gmail.com","dname":"send Door Bell","x":642.0195350646973,"y":519.0039167404175,"wires":[]},{"id":"86da16b0.4465c8","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"magali.centelles@gmail.com","dname":"send Gael portail","x":616.0039405822754,"y":612.00390625,"wires":[]},{"id":"c3ee0809.ae0e58","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":false,"tls":false,"name":"scentelles@gmail.com","dname":"send Gael portail","x":620.0039443969727,"y":677.0039167404175,"wires":[]},{"id":"6d9d7d9.422c784","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"scentelles@gmail.com","dname":"send email alert","x":740,"y":80,"wires":[]},{"id":"217159c5.4fd2d6","type":"openweathermap","z":"cde55aee.521598","name":"meteo 5 pins","wtype":"forecast","lon":"","lat":"","city":"pinsaguel","country":"france","language":"fr","x":162.67227935791016,"y":173.83365297317505,"wires":[["55ecdcf3.04e9f4"]]},{"id":"c1e8ecfc.b94ca","type":"mqtt in","z":"4756ea39.363564","name":"zigbee switch1","topic":"zigbee2mqtt/0x00158d0006baa383","qos":"0","datatype":"json","broker":"4c27d965.734f38","nl":false,"rap":false,"x":200,"y":160,"wires":[["524bf64c.2f04c8","fc1d99ac.dedf28","4866fd07.412824"]]},{"id":"b6638938.7c2d98","type":"mqtt out","z":"4756ea39.363564","name":"","topic":"DECK_LEDS/stairs","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":670,"y":160,"wires":[]},{"id":"524bf64c.2f04c8","type":"function","z":"4756ea39.363564","name":"Parse json","func":"\nif(msg.payload.action==\"single\")\n{\n    msg.payload=\"2\"\n    return msg\n}\nif(msg.payload.action==\"double\")\n{\n    msg.payload=\"1\"\n    return msg\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":160,"wires":[["b6638938.7c2d98","fc1d99ac.dedf28","a5ecade1.25dd9"]]},{"id":"16bf3005.79d56","type":"mqtt in","z":"4756ea39.363564","name":"zigbee move1","topic":"zigbee2mqtt/0x00124b0022feff73","qos":"0","datatype":"json","broker":"4c27d965.734f38","nl":false,"rap":false,"x":190,"y":380,"wires":[["ccb153b9.c29b8"]]},{"id":"ccb153b9.c29b8","type":"debug","z":"4756ea39.363564","name":"ZBMove1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":380,"wires":[]},{"id":"fc1d99ac.dedf28","type":"debug","z":"4756ea39.363564","name":"zigbee switvh","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":340,"wires":[]},{"id":"a5ecade1.25dd9","type":"mqtt out","z":"4756ea39.363564","name":"","topic":"DECK/LIGHT/command","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":690,"y":100,"wires":[]},{"id":"a708b125.d947b","type":"mqtt in","z":"4756ea39.363564","name":"zigbee switch2-Door","topic":"zigbee2mqtt/0x00158d0006baa638","qos":"0","datatype":"json","broker":"4c27d965.734f38","nl":false,"rap":false,"x":210,"y":540,"wires":[["739c855e.d3bf3c","25747779.6fc048"]]},{"id":"739c855e.d3bf3c","type":"function","z":"4756ea39.363564","name":"parse json","func":"\nif(msg.payload.action==\"single\")\n{\n    msg.payload=\"12\"\n    return msg\n}\nif(msg.payload.action==\"double\")\n{\n    msg.payload=\"2\"\n    return msg\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":540,"wires":[["2e1ed836.524f48"]]},{"id":"25747779.6fc048","type":"debug","z":"4756ea39.363564","name":"ZBButton-Door","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":660,"wires":[]},{"id":"2e1ed836.524f48","type":"mqtt out","z":"4756ea39.363564","name":"","topic":"Door/open","qos":"0","retain":"true","broker":"4c27d965.734f38","x":610,"y":540,"wires":[]},{"id":"68c7f797.5e38d8","type":"mqtt in","z":"4756ea39.363564","name":"zigbee switch3-Door","topic":"zigbee2mqtt/0x00158d0006ba1db3","qos":"0","datatype":"json","broker":"4c27d965.734f38","nl":false,"rap":false,"x":210,"y":780,"wires":[["739c855e.d3bf3c"]]},{"id":"d04e76eb.489678","type":"mqtt in","z":"4756ea39.363564","name":"ZB plug","topic":"zigbee2mqtt/0x60a423fffeaf04f3","qos":"0","datatype":"json","broker":"4c27d965.734f38","nl":false,"rap":false,"x":150,"y":980,"wires":[["2b57d2f7.73932e"]]},{"id":"2b57d2f7.73932e","type":"debug","z":"4756ea39.363564","name":"ZB plug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":1120,"wires":[]},{"id":"1b1d3ad5.386835","type":"function","z":"4756ea39.363564","name":"parse json","func":"\nif(msg.payload.temperature > 27.3)\n{\n    msg.payload = {}\n    msg.payload.state=\"OFF\"\n    return msg\n}\nelse\n{\n    msg.payload = {}\n    msg.payload.state=\"ON\"\n    return msg\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":900,"wires":[["ad694ed4.2d96c","2d65047.a3453fc"]]},{"id":"c4db2f81.650a4","type":"mqtt in","z":"4756ea39.363564","name":"SdB temperature","topic":"zigbee2mqtt/0x00158d0006c570b8","qos":"0","datatype":"json","broker":"4c27d965.734f38","nl":false,"rap":false,"x":180,"y":900,"wires":[["1b1d3ad5.386835","f3054c11.81a5c"]]},{"id":"f3054c11.81a5c","type":"debug","z":"4756ea39.363564","name":"ZB SdB temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":1000,"wires":[]},{"id":"ad694ed4.2d96c","type":"debug","z":"4756ea39.363564","name":"ZB parsed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":960,"wires":[]},{"id":"f1bdf90f.6faeb8","type":"mqtt out","z":"4756ea39.363564","name":"ZBswitch_right","topic":"zigbee2mqtt/0x00124b00226bbc04/set","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":840,"y":220,"wires":[]},{"id":"4866fd07.412824","type":"function","z":"4756ea39.363564","name":"Parse json","func":"\nif(msg.payload.action==\"single\")\n{\n    msg.payload={\"state_right\": \"ON\"}\n    return msg\n}\nif(msg.payload.action==\"double\")\n{\n    msg.payload={\"state_right\": \"OFF\"}\n    return msg\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":220,"wires":[["f1bdf90f.6faeb8","8aab3b15.671738"]]},{"id":"8aab3b15.671738","type":"debug","z":"4756ea39.363564","name":"zigbee ext","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"2d65047.a3453fc","type":"mqtt out","z":"4756ea39.363564","name":"ZB PlugSdB","topic":"zigbee2mqtt/0x60a423fffeae66e7/set","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":690,"y":840,"wires":[]},{"id":"ccb4a0ee.36e56","type":"function","z":"fae16ff9.cf9dd","name":"pass msg except if force","func":"var forcePool=context.get('forcePool') || 0;\n\nif(msg.topic==\"POOL/force\")\n{\n    context.set('forcePool',msg.payload);\n    msg.topic = \"POOL/command\";\n    if (msg.payload ==  \"0\")\n    {\n        msg.payload = 1;\n        \n    }\n    if (msg.payload ==  \"1\")\n    {\n        msg.payload = 1;        \n        \n    }\n    if (msg.payload ==  \"2\")\n    {\n        msg.payload = 2;           \n    }\n    return msg;\n}\nelse\n{\n    if((forcePool == \"1\") || (forcePool == \"2\"))\n    {\n        //skip\n    }\n    else\n    {\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":620,"wires":[["253b6984.b1a896"]]},{"id":"7320e33f.0299dc","type":"mqtt in","z":"fae16ff9.cf9dd","name":"","topic":"POOL/force","qos":"2","datatype":"auto","broker":"4c27d965.734f38","nl":false,"rap":false,"x":150,"y":680,"wires":[["d57fad65.08c21","ccb4a0ee.36e56"]]},{"id":"d57fad65.08c21","type":"ui_dropdown","z":"fae16ff9.cf9dd","name":"","label":"","tooltip":"","place":"Select option","group":"ee8bfe73.235b7","order":12,"width":"3","height":"1","passthru":false,"multiple":false,"options":[{"label":"AUTO","value":"0","type":"str"},{"label":"ON","value":"2","type":"str"},{"label":"OFF","value":"1","type":"str"}],"payload":"","topic":"","topicType":"str","x":360,"y":680,"wires":[["1c3bc575.ad749b"]]},{"id":"1c3bc575.ad749b","type":"mqtt out","z":"fae16ff9.cf9dd","name":"","topic":"POOL/force","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":690,"y":680,"wires":[]},{"id":"a2346340.c128","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"AQUA/temp","qos":"0","datatype":"auto","broker":"4c27d965.734f38","nl":false,"rap":false,"x":190,"y":780,"wires":[["4c7ef5d2.36138c"]]},{"id":"4c7ef5d2.36138c","type":"function","z":"8ba8ba4f.08c5b8","name":"Check AQUA temp","func":"if ((msg.payload  < 24) || (msg.payload  > 28))\n{\n       msg.topic = \"Critical : Temperature de l'aquarium\";\n       return msg;\n   \n}\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":780,"wires":[["2b02718b.661dde"]]},{"id":"2b02718b.661dde","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"scentelles@gmail.com","dname":"send email alert","x":760,"y":800,"wires":[]},{"id":"96b61bd4.434058","type":"function","z":"9c3c3655.d514b8","name":"","func":"\nvar aquaDate = context.get('aquaDate')\n\nconst eventDate = new Date()\n\nif (msg.topic == \"AQUA/triggertimer\"){\n  context.set('aquaDate', eventDate)\n}\n\nmsg.payload = {\n    \"millisec\": eventDate,\n    \"sec\": eventDate / 1000,\n    \"minutes\": eventDate / (1000*60),\n    \"hours\": eventDate / (1000*60*60),\n    \"days\": eventDate / (1000*60*60*24),\n    \"weeks\": eventDate / (1000*60*60*24*7),\n}\nmsg.payload = parseFloat((eventDate - aquaDate) / (1000*60*60*24)).toFixed(0)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":240,"wires":[["d827ffef.559d","aff3111a.8776f"]]},{"id":"933151b0.aa9a8","type":"mqtt in","z":"9c3c3655.d514b8","name":"","topic":"AQUA/triggertimer","qos":"2","datatype":"auto","broker":"4c27d965.734f38","nl":false,"rap":false,"x":1030,"y":200,"wires":[["96b61bd4.434058"]]},{"id":"d827ffef.559d","type":"debug","z":"9c3c3655.d514b8","name":"aqua trigger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":280,"wires":[]},{"id":"14e6a909.e30cd7","type":"inject","z":"9c3c3655.d514b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":1060,"y":280,"wires":[["96b61bd4.434058"]]},{"id":"aff3111a.8776f","type":"mqtt out","z":"9c3c3655.d514b8","name":"","topic":"AQUA/timer","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":1450,"y":200,"wires":[]},{"id":"c1feeee6.b56a1","type":"light-scheduler","z":"8ba8ba4f.08c5b8","settings":"e8954b58.37d528","events":"[{\"start\":{\"dow\":1,\"mod\":1200},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":1200},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":1200},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1200},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1200},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1200},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1200},\"end\":{\"dow\":1,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":485},\"end\":{\"dow\":0,\"mod\":650}}]","topic":"WindowAlert/status","name":"POOL schedule","onPayload":"2","onPayloadType":"str","offPayload":"1","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":140,"y":920,"wires":[["325e8b4.4d35674","9313fff3.ce588"]]},{"id":"325e8b4.4d35674","type":"function","z":"8ba8ba4f.08c5b8","name":"Check contact depending on schedule","func":"\nvar veluxSensorStatus1 = context.get('veluxSensorStatus1')\n\n\nif(msg.topic == \"sensor/status1\")\n{\n    context.set('veluxSensorStatus1', msg.payload.contact)\n}\n\nif (msg.topic  == \"WindowAlert/status1\")\n{\n    if(msg.payload  == 2)\n    {\n        if(veluxSensorStatus1 == false)\n        {\n            msg.topic = \"CRITICAL : VELUX 1\";\n            msg.payload = \"Le velux 1 est ouvert!!!!\";\n            return msg;\n        }\n        else\n        {\n            msg.payload = \"Schedule ON - and velux is closed\";\n        }\n    }\n    else\n    {\n        msg.payload = \"Check schedule OFF\";\n\n           \n    }   \n    \n\n}\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":920,"wires":[["f34ffd49.74984","786fcd02.ab2174"]]},{"id":"bc861ad9.c4def8","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"ZB Velux1","topic":"zigbee2mqtt/0x00158d0006ba1228","qos":"2","datatype":"json","broker":"4c27d965.734f38","nl":false,"rap":false,"x":120,"y":980,"wires":[["26e35f83.26555","a9d62a43.d3f3e8"]]},{"id":"26e35f83.26555","type":"function","z":"8ba8ba4f.08c5b8","name":"convert to simpler topic","func":"msg.topic = \"sensor/status1\"\nreturn msg\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":980,"wires":[["325e8b4.4d35674"]]},{"id":"a9d62a43.d3f3e8","type":"debug","z":"8ba8ba4f.08c5b8","name":"contact status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":940,"wires":[]},{"id":"f34ffd49.74984","type":"e-mail","z":"8ba8ba4f.08c5b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"scentelles@gmail.com","dname":"send email alert","x":1180,"y":920,"wires":[]},{"id":"786fcd02.ab2174","type":"debug","z":"8ba8ba4f.08c5b8","name":"contact email","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":1020,"wires":[]},{"id":"e9e7f29d.6561","type":"inject","z":"8ba8ba4f.08c5b8","name":"INIT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"zigbee2mqtt/0x00158d0006ba1228","payload":"true","payloadType":"bool","x":230,"y":1040,"wires":[["26e35f83.26555","20512a96.668d46"]]},{"id":"dce18c9b.53979","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"","topic":"ALARM1/cmd","qos":"2","datatype":"auto","broker":"4c27d965.734f38","nl":false,"rap":false,"x":130,"y":1340,"wires":[["84635066.df297"]]},{"id":"84635066.df297","type":"function","z":"8ba8ba4f.08c5b8","name":"turn off all","func":"if(msg.payload == 1)\n{\n    msg.payload = 3\n    return msg\n}\n\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1340,"wires":[["c9fb31b7.7f438"]]},{"id":"c9fb31b7.7f438","type":"mqtt out","z":"8ba8ba4f.08c5b8","name":"","topic":"ALARM1/cmd","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4c27d965.734f38","x":460,"y":1340,"wires":[]},{"id":"1822259a.6e335a","type":"mqtt in","z":"8ba8ba4f.08c5b8","name":"ZB Velux2","topic":"zigbee2mqtt/0x00158d0008481f10","qos":"0","datatype":"json","broker":"4c27d965.734f38","nl":false,"rap":false,"x":120,"y":1200,"wires":[["7ebfa683.7459a8","20512a96.668d46"]]},{"id":"7ebfa683.7459a8","type":"debug","z":"8ba8ba4f.08c5b8","name":"ZB velux","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":1220,"wires":[]},{"id":"20512a96.668d46","type":"function","z":"8ba8ba4f.08c5b8","name":"convert to simpler topic","func":"msg.topic = \"sensor/status2\"\nreturn msg\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1140,"wires":[["9313fff3.ce588"]]},{"id":"9313fff3.ce588","type":"function","z":"8ba8ba4f.08c5b8","name":"Check contact depending on schedule","func":"\nvar veluxSensorStatus2 = context.get('veluxSensorStatus2')\n\n\nif(msg.topic == \"sensor/status2\")\n{\n    context.set('veluxSensorStatus2', msg.payload.contact)\n}\n\nif (msg.topic  == \"WindowAlert/status2\")\n{\n    if(msg.payload  == 2)\n    {\n        if(veluxSensorStatus2 == false)\n        {\n            msg.topic = \"CRITICAL : VELUX 2\";\n            msg.payload = \"Le velux 2 est ouvert!!!!\";\n            return msg;\n        }\n        else\n        {\n            msg.payload = \"Schedule ON - and velux is closed\";\n        }\n    }\n    else\n    {\n        msg.payload = \"Check schedule OFF\";\n\n           \n    }   \n    \n\n}\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":1040,"wires":[["786fcd02.ab2174","f34ffd49.74984"]]}]